Repository mui/toolpad, pull requests merged in 2022-07, with the labels that each got.

#633 Fix expression editor for code actions
  packages/toolpad-app/src/components/AppEditor/PageEditor/JsExpressionEditor.tsx
Labels: regression

#466 Improve visual editor UX
  packages/toolpad-app/src/appDom.ts
  packages/toolpad-app/src/components/AppEditor/PageEditor/ComponentCatalog.tsx
  packages/toolpad-app/src/components/AppEditor/PageEditor/PageEditorProvider.tsx
  packages/toolpad-app/src/components/AppEditor/PageEditor/RenderPanel.tsx
  packages/toolpad-app/src/components/DomLoader.tsx
  packages/toolpad-app/src/pageViewState.ts
  packages/toolpad-app/src/runtime/ToolpadApp.tsx
  packages/toolpad-app/src/toolpadComponents/index.tsx
  packages/toolpad-app/src/types.ts
  packages/toolpad-app/src/utils/geometry.ts
  packages/toolpad-components/src/Button.tsx
  packages/toolpad-components/src/PageColumn.tsx
  packages/toolpad-components/src/PageRow.tsx
  packages/toolpad-components/src/Paper.tsx
  packages/toolpad-components/src/Select.tsx
  packages/toolpad-components/src/Stack.tsx
  packages/toolpad-components/src/TextField.tsx
  packages/toolpad-core/src/runtime.tsx
Labels: new feature, feature: App Editor

#675 [docs] Lint markdown
  .circleci/config.yml
  .markdownlint.jsonc
  .markdownlintignore
  CONTRIBUTING.md
  NOTES.md
  docs/data/toolpad/data-fetching/google-sheets.md
  docs/data/toolpad/getting-started/setup.md
  docs/data/toolpad/getting-started/tutorial.md
  package.json
  packages/toolpad-app/NOTES.md
  yarn.lock
Labels: docs

#661 [docs] Fix Next.js hosting on mui.com
  docs/next.config.js
  docs/public/_redirects
Labels: docs, bug 🐛

#612 [core] Prepare automation for support
  .github/workflows/close-incomplete-inactive.yml
  .github/workflows/no-response.yml
Labels: core

#714 [core] Remove duplicated file
  .github/FUNDING.yml
Labels: core
