Repository mui/toolpad, pull requests merged in 2024-11, with the labels that each got.

#4344 [docs] Polish to match standard
  docs/data/toolpad/core/components/page-container/page-container.md
  docs/data/toolpad/core/components/persistent-state/persistent-state.md
  docs/data/toolpad/core/introduction/base-concepts.md
  docs/data/toolpad/core/introduction/examples.md
  docs/data/toolpad/core/introduction/installation.md
  docs/data/toolpad/core/introduction/integration.md
  docs/data/toolpad/studio/concepts/deployment.md
  docs/data/toolpad/studio/concepts/file-structure.md
  docs/data/toolpad/studio/getting-started/installation.md
  docs/data/toolpad/studio/index.md
Labels: docs

#4351 [docs] Fix missing ponctuation on descriptions
  docs/data/toolpad/core/customization.md
  docs/data/toolpad/core/features/audit-logs.md
  docs/data/toolpad/core/features/authentication.md
Labels: docs

#4347 [core] Fix Vale errors
  docs/data/toolpad/core/components/account/account.md
  docs/data/toolpad/core/introduction/integration.md
Labels: core, docs, scope: docs-infra

#4348 [docs] Move the description to match the other pages
  docs/data/toolpad/core/introduction/integration.md
Labels: docs

#4366 [docs] Fix tool redirection
  docs/data/toolpad/studio/how-to-guides/embed-pages.md
Labels: docs

#4368 [docs] Fix more 404s on examples page
  examples/charts/toolpad/application.yml
  examples/studio/auth-google/README.md
  examples/studio/charts/README.md
  examples/studio/charts/toolpad/pages/page/page.yml
  examples/studio/custom-datagrid-column/README.md
  examples/studio/custom-server-nextjs/README.md
  examples/studio/custom-server/README.md
  examples/studio/datagrid-columns/README.md
  examples/studio/datagrid-premium/README.md
  examples/studio/graphql/README.md
  examples/studio/hacker-news-client/README.md
  examples/studio/npm-stats/README.md
  examples/studio/qr-generator/README.md
  examples/studio/stripe-script/README.md
  examples/studio/supabase/README.md
  examples/studio/tabs/README.md
  examples/studio/with-prisma-data-provider/README.md
  examples/studio/with-prisma/README.md
Labels: docs, examples

#4372 [docs] Minor changes
  docs/data/toolpad/core/pages.ts
  docs/src/components/landing-studio/GithubStars.js
  docs/src/components/landing/Hero.js
Labels: docs, website

#4346 [DashboardLayout] Left-align header title in mobile viewport
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-studio/src/runtime/AppLayout.tsx
  pnpm-lock.yaml
Labels: enhancement, component: layout

#4375 [docs] Add component as `payload` example to `useDialogs` docs
  docs/data/toolpad/core/components/use-dialogs/CustomDialogWithPayloadAdvanced.js
  docs/data/toolpad/core/components/use-dialogs/CustomDialogWithPayloadAdvanced.tsx
  docs/data/toolpad/core/components/use-dialogs/CustomDialogWithPayloadAdvanced.tsx.preview
  docs/data/toolpad/core/components/use-dialogs/TransferFormContext.js
  docs/data/toolpad/core/components/use-dialogs/TransferFormContext.tsx
  docs/data/toolpad/core/components/use-dialogs/use-dialogs.md
Labels: docs

#4370 [SignInPage] Improve default UI and customisation ability
  docs/pages/toolpad/core/api/account-preview.json
  docs/pages/toolpad/core/api/account.json
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/public/static/toolpad/docs/core/auth-next-themed-dark.png
  docs/public/static/toolpad/docs/core/auth-next-themed.png
  docs/src/modules/components/ExamplesGrid/core-examples.ts
  docs/translations/api-docs/account-preview/account-preview.json
  docs/translations/api-docs/sign-in-page/sign-in-page.json
  examples/core/auth-nextjs-themed/.gitattributes
  examples/core/auth-nextjs-themed/.gitignore
  examples/core/auth-nextjs-themed/README.md
  examples/core/auth-nextjs-themed/app/(dashboard)/DashboardContent.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/SidebarFooterAccount.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/layout.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/orders/page.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/page.tsx
  examples/core/auth-nextjs-themed/app/api/auth/[...nextauth]/route.ts
  examples/core/auth-nextjs-themed/app/auth/signin/actions.ts
  examples/core/auth-nextjs-themed/app/auth/signin/page.tsx
  examples/core/auth-nextjs-themed/app/components/ChartUserByCountry.tsx
  examples/core/auth-nextjs-themed/app/components/Copyright.tsx
  examples/core/auth-nextjs-themed/app/components/CustomDataGrid.tsx
  examples/core/auth-nextjs-themed/app/components/CustomDatePicker.tsx
  examples/core/auth-nextjs-themed/app/components/CustomTreeView.tsx
  examples/core/auth-nextjs-themed/app/components/HiglightedCard.tsx
  examples/core/auth-nextjs-themed/app/components/PageViewsBarChart.tsx
  examples/core/auth-nextjs-themed/app/components/SessionsChart.tsx
  examples/core/auth-nextjs-themed/app/components/StatCard.tsx
  examples/core/auth-nextjs-themed/app/layout.tsx
  examples/core/auth-nextjs-themed/app/mocks/CustomIcons.tsx
  examples/core/auth-nextjs-themed/app/mocks/gridData.tsx
  examples/core/auth-nextjs-themed/app/mocks/gridOrdersData.tsx
  examples/core/auth-nextjs-themed/auth.ts
  examples/core/auth-nextjs-themed/middleware.ts
  examples/core/auth-nextjs-themed/next-env.d.ts
  examples/core/auth-nextjs-themed/next.config.mjs
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-nextjs-themed/pnpm-lock.yaml
  examples/core/auth-nextjs-themed/theme.ts
  examples/core/auth-nextjs-themed/theme/customizations/dataDisplay.tsx
  examples/core/auth-nextjs-themed/theme/customizations/feedback.tsx
  examples/core/auth-nextjs-themed/theme/customizations/index.ts
  examples/core/auth-nextjs-themed/theme/customizations/inputs.tsx
  examples/core/auth-nextjs-themed/theme/customizations/navigation.tsx
  examples/core/auth-nextjs-themed/theme/getMPTheme.tsx
  examples/core/auth-nextjs-themed/theme/themePrimitives.ts
  examples/core/auth-nextjs-themed/tsconfig.json
  package.json
  packages/toolpad-core/src/Account/Account.tsx
  packages/toolpad-core/src/Account/AccountPreview.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarSubNavigation.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.test.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: design: ui, enhancement

#4382 [docs] Make Themed example run by default on Codesandbox
  examples/core/auth-nextjs-themed/.env
Labels: docs

#4383 [docs] Clean up examples
  examples/charts/toolpad/application.yml
Labels: docs

#4386 Update lockfile
  pnpm-lock.yaml
Labels: core

#4401 [docs] Fix 404 link
  docs/data/toolpad/core/components/account/account.md
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
Labels: docs, bug 🐛

#4402 [core] Remove dead style contain code
  docs/data/toolpad/studio/components/button/button.md
  docs/data/toolpad/studio/components/data-grid/data-grid.md
  docs/data/toolpad/studio/components/date-picker/date-picker.md
  docs/data/toolpad/studio/components/list/list.md
  docs/data/toolpad/studio/components/text-field/text-field.md
  docs/data/toolpad/studio/concepts/building-ui.md
  docs/data/toolpad/studio/concepts/custom-components.md
  docs/data/toolpad/studio/concepts/custom-functions.md
  docs/data/toolpad/studio/concepts/data-binding.md
  docs/data/toolpad/studio/concepts/data-providers.md
  docs/data/toolpad/studio/concepts/event-handling.md
  docs/data/toolpad/studio/concepts/http-requests.md
  docs/data/toolpad/studio/concepts/page-properties.md
  docs/data/toolpad/studio/concepts/theming.md
  docs/data/toolpad/studio/how-to-guides/connect-to-googlesheets.md
Labels: core

#4404 [SignInPage] Fix missing "Remember Me" state from `formData`
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  pnpm-lock.yaml
Labels: bug 🐛

#4405 [docs] Correct version on themed example
  docs/src/modules/components/ExamplesGrid/core-examples.ts
  examples/core/auth-nextjs-passkey/package.json
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-vite/package.json
Labels: docs

#4410 [docs] Update SignInPage docs and themed example
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/brandingTheme.js
  docs/data/toolpad/core/components/sign-in-page/brandingTheme.ts
  docs/data/toolpad/core/components/sign-in-page/customTheme.js
  docs/data/toolpad/core/components/sign-in-page/customTheme.tsx
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/public/static/toolpad/docs/core/auth-next-dark.png
  docs/public/static/toolpad/docs/core/auth-next.png
  docs/src/modules/components/ExamplesGrid/core-examples.ts
  examples/core/auth-nextjs-themed/README.md
  examples/core/auth-nextjs-themed/theme/themePrimitives.ts
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: docs

#4419 [docs] Fix missed Vale error
  examples/core/auth-nextjs-themed/README.md
Labels: docs

#4421 [Account] Fix SignInButton UI
  packages/toolpad-core/src/Account/SignInButton.tsx
Labels: bug 🐛

#4434 [cli] Skip path validation for examples
  packages/create-toolpad-app/src/index.ts
Labels: core, create-toolpad-app

#4414 [DashboardLayout] Add width containment on flex container
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: bug 🐛, component: layout

#4437 [DashboardLayout] Fix app bar items alignment
  packages/create-toolpad-app/src/index.ts
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/ToolbarActions.tsx
  pnpm-lock.yaml
Labels: design: ui, component: layout

#4415 [docs] Host themed template under mui.com
  docs/public/_redirects
Labels: docs

#4442 [DashboardLayout] Add branding prop as override
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: enhancement, scope: toolpad-core

#4449 [docs] Add Templates listing to examples page
  docs/data/toolpad/core/introduction/examples.md
  docs/data/toolpad/studio/getting-started/examples-overview.md
  docs/public/static/toolpad/docs/core/functional-dashboard-dark.png
  docs/public/static/toolpad/docs/core/functional-dashboard.png
  docs/src/modules/components/Examples/ExamplesGrid.tsx
  docs/src/modules/components/Examples/FeaturedExamples.tsx
  docs/src/modules/components/Examples/core-examples.ts
  docs/src/modules/components/Examples/studio-examples.ts
  docs/src/modules/components/Examples/types.ts
  pnpm-lock.yaml
Labels: docs, examples

#4339 [cli] Support Magic Link and Passkeys in CLI
  docs/data/toolpad/core/introduction/tutorial.md
  examples/core/auth-nextjs-passkey/src/app/auth/signin/page.tsx
  packages/create-toolpad-app/src/generateProject.ts
  packages/create-toolpad-app/src/index.ts
  packages/create-toolpad-app/src/templates/auth/auth.ts
  packages/create-toolpad-app/src/templates/auth/env.ts
  packages/create-toolpad-app/src/templates/auth/envLocal.ts
  packages/create-toolpad-app/src/templates/auth/nextjs-app/actions.ts
  packages/create-toolpad-app/src/templates/auth/nextjs-app/signInPage.ts
  packages/create-toolpad-app/src/templates/auth/nextjs-pages/signIn.ts
  packages/create-toolpad-app/src/templates/auth/prisma.ts
  packages/create-toolpad-app/src/templates/auth/schemaPrisma.ts
  packages/create-toolpad-app/src/templates/indexPage.ts
  packages/create-toolpad-app/src/templates/nextjs-pages/app.ts
  packages/create-toolpad-app/src/templates/ordersPage.ts
  packages/create-toolpad-app/src/templates/packageJson.ts
  packages/create-toolpad-app/src/types.ts
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: create-toolpad-app

#4451 [SignInPage] SignInPage UI tweaks
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/customTheme.js
  docs/data/toolpad/core/components/sign-in-page/customTheme.tsx
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
Labels: design: ui

#4453 [release] v0.10.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/create-toolpad-app/src/templates/auth/nextjs-app/signInPage.ts
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  test/package.json
Labels: release

#4454 [docs] Update deployed template link
  docs/src/modules/components/Examples/core-examples.ts
Labels: docs, examples

#4455 [core] Update @mui/monorepo
  package.json
  pnpm-lock.yaml
Labels: core, dependencies, bug 🐛

#4467 [docs] Correct Tutorial code
  docs/data/toolpad/core/introduction/tutorial.md
Labels: docs, bug 🐛

#4475 [docs] Handle integration docs 404
  docs/public/_redirects
Labels: docs

#4473 [docs] Add pre-requisites to Next integration docs
  docs/data/toolpad/core/integrations/nextjs-approuter.md
  docs/data/toolpad/core/integrations/nextjs-pagesrouter.md
Labels: docs

#4483 [core] Remove/update offending deps
  docs/package.json
  packages/toolpad-utils/package.json
  pnpm-lock.yaml
Labels: security

#4484 [docs] Update base-concepts.md
  docs/data/toolpad/core/introduction/base-concepts.md
Labels: docs

#4481 [docs] Add 'New' badge for examples
  docs/data/toolpad/core/pages.ts
  docs/src/components/landing/Examples.js
Labels: docs

#4482 [supabase] Remove the live app link
  examples/studio/supabase/README.md
Labels: examples, scope: toolpad-studio
