Repository mui/toolpad, pull requests merged in 2024-10, with the labels that each got.

#4191 [PageContainer] Remove leading slash from patterns for PageContainer
  docs/data/toolpad/core/components/page-container/CustomPageContainer.js
  docs/data/toolpad/core/components/page-container/CustomPageContainer.tsx
  packages/toolpad-core/src/PageContainer/PageContainer.test.tsx
  packages/toolpad-core/src/shared/navigation.tsx
Labels: bug 🐛, component: PageContainer

#4178 Added page-container to all components page also reordered based on the side-nav
  docs/data/toolpad/core/all-components/all-components.md
Labels: docs

#4228 Revert "Bump typescript to 5.6.2"
  packages/toolpad-studio/package.json
  pnpm-lock.yaml
Labels: dependencies

#4189 [PageContainer] Avoid React invalid props warning
  packages/toolpad-core/src/PageContainer/PageContainer.test.tsx
  packages/toolpad-core/src/PageContainer/PageContainer.tsx
Labels: bug 🐛, component: PageContainer

#4230 [docs] Update package screenshot in contributing.md
  contributing/codesandbox-ci-package-link.png
Labels: docs

#4225 [cli] [docs] Improve tutorial example, docs, CLI installation
  docs/data/toolpad/core/introduction/TutorialDefault.js
  docs/data/toolpad/core/introduction/TutorialDefault.tsx
  docs/data/toolpad/core/introduction/TutorialPages.js
  docs/data/toolpad/core/introduction/TutorialPages.tsx
  docs/data/toolpad/core/introduction/tutorial.md
  docs/public/static/toolpad/docs/core/bootstrap-dark.png
  docs/public/static/toolpad/docs/core/bootstrap.png
  docs/public/static/toolpad/docs/core/installation-1.png
  examples/core-tutorial/app/(dashboard)/orders/page.tsx
  examples/core-tutorial/app/(dashboard)/page.tsx
  examples/core-tutorial/app/(dashboard)/page/page.tsx
  examples/core-tutorial/app/layout.tsx
  examples/core-tutorial/app/page.tsx
  examples/core-tutorial/next-env.d.ts
  examples/core-tutorial/package.json
  packages/create-toolpad-app/src/index.ts
  packages/create-toolpad-app/src/types.ts
  pnpm-lock.yaml
Labels: docs, create-toolpad-app

#4231 [DashboardLayout] Add hideNavigation prop
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSidebarHidden.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSidebarHidden.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSidebarHidden.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: feature: Components

#4175 [docs] Add placeholders for upcoming features
  docs/data/toolpad/core/components/crud-page/crud-page.md
  docs/data/toolpad/core/components/notification-center/notification-center.md
  docs/data/toolpad/core/components/rbac/rbac.md
  docs/data/toolpad/core/components/sign-up-page/sign-up-page.md
  docs/data/toolpad/core/components/stat-card/stat-card.md
  docs/data/toolpad/core/introduction/overview.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/react-crud-page/index.js
  docs/pages/toolpad/core/react-notification-center/index.js
  docs/pages/toolpad/core/react-rbac/index.js
  docs/pages/toolpad/core/react-sign-up-page/index.js
  docs/pages/toolpad/core/react-stat-card/index.js
Labels: docs

#4119 Integrate Toolpad Core in Toolpad Studio runtime
  docs/data/toolpad/core/components/app-provider/app-provider.md
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutFullScreen.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutFullScreen.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutFullScreen.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/data/toolpad/core/introduction/base-concepts.md
  docs/pages/toolpad/core/api/app-provider.json
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/package.json
  packages/toolpad-core/src/AppProvider/AppProvider.test.tsx
  packages/toolpad-core/src/AppProvider/AppThemeProvider.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/PageContainer/PageContainer.tsx
  packages/toolpad-core/src/react-router-dom/AppProvider.test.tsx
  packages/toolpad-core/src/react-router-dom/AppProvider.tsx
  packages/toolpad-core/src/react-router-dom/index.tsx
  packages/toolpad-studio/package.json
  packages/toolpad-studio/src/runtime/AppLayout.tsx
  packages/toolpad-studio/src/runtime/PreviewHeader.tsx
  packages/toolpad-studio/src/runtime/ToolpadApp.tsx
  packages/toolpad-studio/src/runtime/constants.ts
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/EditorCanvasHost.tsx
  packages/toolpad-studio/src/utils/dom.ts
  pnpm-lock.yaml
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
  scripts/docs/buildCoreApiDocs/config/getComponentImports.ts
  scripts/docs/buildCoreApiDocs/config/projectSettings.ts
  test/integration/auth/domain.spec.ts
  test/integration/auth/roles.spec.ts
  test/integration/backend-basic/fixture/toolpad/application.yml
  test/integration/backend-basic/fixture/toolpad/pages/basic/page.yml
  test/integration/backend-basic/fixture/toolpad/pages/crud/page.yml
  test/integration/backend-basic/fixture/toolpad/pages/dataProviders/page.yml
  test/integration/backend-basic/fixture/toolpad/pages/extractedTypes/page.yml
  test/integration/backend-basic/fixture/toolpad/pages/serialization/page.yml
Labels: core

#4238 [website] Toolpad Core website was linking to Toolpad Studio examples
  docs/src/components/landing/Examples.js
  docs/src/components/landing/StudioIntro.js
Labels: website

#4232 [core] Remove <-- from changelog
  CHANGELOG.md
Labels: core

#4236 [DashboardLayout] Add `sidebarFooter` slot
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: feature: Components

#4267 Move vitest to dev dependency in `@toolpad/utils`
  packages/toolpad-utils/package.json
  pnpm-lock.yaml
Labels: dependencies

#4185 [docs] Full documentation for React Router integration
  .eslintignore
  CONTRIBUTING.md
  docs/data/toolpad/core/introduction/ReactRouter.js
  docs/data/toolpad/core/introduction/ReactRouter.tsx
  docs/data/toolpad/core/introduction/ReactRouter.tsx.preview
  docs/data/toolpad/core/introduction/base-concepts.md
  docs/data/toolpad/core/introduction/integration.md
  docs/public/static/toolpad/docs/core/vite-react-router.png
  docs/src/modules/components/ExamplesGrid/core-examples.ts
  examples/core-auth-nextjs-pages-nextauth-4/README.md
  examples/core-auth-nextjs-pages/README.md
  examples/core-auth-nextjs/README.md
  examples/core-vite/.gitignore
  examples/core-vite/README.md
  examples/core-vite/index.html
  examples/core-vite/package.json
  examples/core-vite/public/vite.svg
  examples/core-vite/src/App.tsx
  examples/core-vite/src/assets/.gitkeep
  examples/core-vite/src/layouts/dashboard.tsx
  examples/core-vite/src/main.tsx
  examples/core-vite/src/pages/index.tsx
  examples/core-vite/src/pages/orders.tsx
  examples/core-vite/src/vite-env.d.ts
  examples/core-vite/tsconfig.json
  examples/core-vite/tsconfig.node.json
  examples/core-vite/vite.config.ts
  package.json
  playground/vite/.gitignore
  playground/vite/README.md
  playground/vite/index.html
  playground/vite/package.json
  playground/vite/public/vite.svg
  playground/vite/src/App.tsx
  playground/vite/src/assets/.gitkeep
  playground/vite/src/layouts/dashboard.tsx
  playground/vite/src/main.tsx
  playground/vite/src/pages/index.tsx
  playground/vite/src/pages/orders.tsx
  playground/vite/src/vite-env.d.ts
  playground/vite/tsconfig.json
  playground/vite/vite.config.ts
  pnpm-lock.yaml
Labels: docs

#4063 [core] Add `passkey` provider support and example
  .gitignore
  docs/data/toolpad/core/components/sign-in-page/AuthJsSignInApp.js
  docs/data/toolpad/core/components/sign-in-page/AuthJsSignInApp.tsx
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.js
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/public/static/toolpad/docs/core/auth-next-passkey-dark.png
  docs/public/static/toolpad/docs/core/auth-next-passkey.png
  examples/core-auth-nextjs-passkey/.eslintrc.json
  examples/core-auth-nextjs-passkey/.gitignore
  examples/core-auth-nextjs-passkey/README.md
  examples/core-auth-nextjs-passkey/next-env.d.ts
  examples/core-auth-nextjs-passkey/next.config.mjs
  examples/core-auth-nextjs-passkey/package.json
  examples/core-auth-nextjs-passkey/src/app/(dashboard)/layout.tsx
  examples/core-auth-nextjs-passkey/src/app/(dashboard)/orders/page.tsx
  examples/core-auth-nextjs-passkey/src/app/(dashboard)/page.tsx
  examples/core-auth-nextjs-passkey/src/app/api/auth/[...nextauth]/route.ts
  examples/core-auth-nextjs-passkey/src/app/auth/signin/actions.ts
  examples/core-auth-nextjs-passkey/src/app/auth/signin/page.tsx
  examples/core-auth-nextjs-passkey/src/app/layout.tsx
  examples/core-auth-nextjs-passkey/src/app/public/layout.tsx
  examples/core-auth-nextjs-passkey/src/app/public/page.tsx
  examples/core-auth-nextjs-passkey/src/auth.ts
  examples/core-auth-nextjs-passkey/src/prisma.ts
  examples/core-auth-nextjs-passkey/src/prisma/schema.prisma
  examples/core-auth-nextjs-passkey/tsconfig.json
  packages/toolpad-core/src/SignInPage/SignInPage.test.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  pnpm-lock.yaml
Labels: enhancement

#4278 [release] v0.8.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  test/package.json
Labels: release

#4306 [docs] Adjust some casings and sections in component docs
  docs/data/toolpad/core/components/account/account.md
  docs/data/toolpad/core/components/app-provider/app-provider.md
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/data/toolpad/core/introduction/installation.md
Labels: docs

#4272 [docs] Replace support link from Studio to Core in the GitHub Issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: docs

#4325 [docs] Add sandbox links for Toolpad Core examples
  docs/src/modules/components/ExamplesGrid/ExamplesGrid.tsx
  docs/src/modules/components/ExamplesGrid/core-examples.ts
  pnpm-lock.yaml
Labels: docs

#4227 [account] [docs] Add custom user details example
  docs/data/toolpad/core/components/UserOrg.js
  docs/data/toolpad/core/components/UserOrg.tsx
  docs/data/toolpad/core/components/account/AccountCustomUserDetails.js
  docs/data/toolpad/core/components/account/AccountCustomUserDetails.tsx
  docs/data/toolpad/core/components/account/AccountCustomUserDetails.tsx.preview
  docs/data/toolpad/core/components/account/AccountLocale.tsx.preview
  docs/data/toolpad/core/components/account/AccountSlotsWallet.js
  docs/data/toolpad/core/components/account/AccountSlotsWallet.tsx
  docs/data/toolpad/core/components/account/AccountSlotsWallet.tsx.preview
  docs/data/toolpad/core/components/account/account.md
  docs/data/toolpad/core/components/use-session/use-session-api.md
  docs/data/toolpad/core/components/use-session/use-session.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/react-use-session/api.js
  docs/pages/toolpad/core/react-use-session/index.js
  packages/toolpad-core/src/Account/Account.tsx
  packages/toolpad-core/src/index.ts
  packages/toolpad-core/src/useSession/index.ts
  packages/toolpad-core/src/useSession/useSession.test.tsx
  packages/toolpad-core/src/useSession/useSession.ts
Labels: docs, enhancement

#4334 Hide layout header and sidebar when printing
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  pnpm-lock.yaml
Labels: scope: toolpad-core, component: DashboardLayout
