Repository mui/toolpad, pull requests merged in 2024-05, with the labels that each got.

#3488 [core] ESLint unification
  .eslintrc.js
Labels: core

#3344 feat: add auto-scroll to canvas elements when selected from panel
  packages/toolpad-studio/src/canvas/ToolpadBridge.tsx
  packages/toolpad-studio/src/canvas/index.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/EditorCanvasHost.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/RenderPanel/RenderOverlay.tsx
  test/visual/components/index.spec.ts
Labels: feature: App Editor

#3492 [ux] Disable Open in editor button if no function is selected
  packages/toolpad-studio/src/toolpadDataSources/local/client.tsx
Labels: design: ux

#3525 [docs] Fix pnpm install command
  CONTRIBUTING.md
Labels: docs

#3493 Changes required for the React integration
  packages/toolpad-studio-runtime/src/jsBrowserRuntime.tsx
  packages/toolpad-studio/src/components/NoSsr.tsx
  packages/toolpad-studio/src/runtime/AppLayout.tsx
  packages/toolpad-studio/src/runtime/ToolpadApp.tsx
  packages/toolpad-studio/src/server/DataManager.ts
  packages/toolpad-studio/src/server/EnvManager.ts
  packages/toolpad-studio/src/server/FunctionsManager.ts
  packages/toolpad-studio/src/server/functionsRuntime.ts
  packages/toolpad-studio/src/server/localMode.ts
  packages/toolpad-studio/src/server/runtimeRpcServer.ts
  packages/toolpad-utils/src/hooks/useSsr.ts
Labels: core

#3484 Add max width option to the page
  docs/data/toolpad/studio/concepts/page-properties.md
  docs/public/static/toolpad/docs/studio/concepts/page-properties/max-width.png
  docs/schemas/v1/definitions.json
  packages/toolpad-studio-runtime/src/appDom.ts
  packages/toolpad-studio/src/runtime/ToolpadApp.tsx
  packages/toolpad-studio/src/server/localMode.ts
  packages/toolpad-studio/src/server/schema.ts
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/PageOptionsPanel.tsx
Labels: core

#3490 [core] Support toggling initial visibility of columns
  packages/toolpad-studio-components/src/DataGrid.tsx
  packages/toolpad-studio/src/toolpad/propertyControls/GridColumns.tsx
Labels: core

#3532 v0.1.55
  CHANGELOG.md
  docs/package.json
  lerna.json
  package.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  pnpm-lock.yaml
  test/package.json
Labels: release

#3530 [docs] Keep referrer for GA
  packages/toolpad-studio-runtime/src/numberFormat.tsx
  packages/toolpad-studio/src/toolpad/propertyControls/DataProviderSelector.tsx
Labels: docs

#3552 Toolpad Core build process
  .eslintignore
  .eslintrc.js
  .gitignore
  .npmrc
  babel.config.js
  package.json
  packages/toolpad-core/package.json
  packages/toolpad-core/src/AppProvider/AppProvider.test.tsx
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/AppProvider/index.ts
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/index.ts
  packages/toolpad-core/src/index.ts
  packages/toolpad-core/tsconfig.build.json
  packages/toolpad-core/tsconfig.json
  packages/toolpad-core/tsup.config.ts
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/copyFiles.mjs
  scripts/copyFilesUtils.mjs
  scripts/utils.mjs
Labels: core

#3561 Updates to project setup
  .eslintignore
  docs/next.config.mjs
  docs/package.json
  docs/scripts/formattedTSDemos.js
  docs/src/modules/utils/babel-plugin-jsx-preview.js
  docs/tsconfig.json
  eslintWebpackResolverConfig.js
  package.json
  packages/create-toolpad-app/tsconfig.json
  packages/toolpad-core/package.json
  packages/toolpad-core/tsconfig.build.json
  packages/toolpad-core/tsconfig.json
  packages/toolpad-studio-components/src/DataGrid.tsx
  packages/toolpad-studio-components/src/createBuiltin.tsx
  packages/toolpad-studio-components/tsconfig.json
  packages/toolpad-studio-runtime/tsconfig.json
  packages/toolpad-studio/tsconfig.json
  packages/toolpad-utils/src/collections.ts
  packages/toolpad-utils/tsconfig.json
  pnpm-lock.yaml
  scripts/coreTypescriptProjects.js
  tsconfig.json
Labels: core

#3562 Some fixes from new react compiler eslint plugin
  .eslintrc.js
  package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/src/Checkbox.tsx
  packages/toolpad-studio-components/src/Form.tsx
  packages/toolpad-studio-components/src/Select.tsx
  packages/toolpad-studio/src/toolpad/propertyControls/SelectOptions.tsx
  pnpm-lock.yaml
Labels: core

#3554 Add DashboardLayout component to @toolpad/core
  docs/data/toolpad/core/api/components/dashboard-layout.md
  docs/data/toolpad/core/api/components/dashboard.md
  docs/data/toolpad/core/api/index.md
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBasic.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBasic.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigation.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigation.tsx
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/data/toolpad/core/components/dashboard.md
  docs/data/toolpad/core/components/index.md
  docs/data/toolpad/core/pages.ts
  docs/package.json
  docs/pages/toolpad/core/api/dashboard-layout.js
  docs/pages/toolpad/core/components/dashboard-layout.js
  docs/scripts/formattedTSDemos.js
  packages/create-toolpad-app/src/generateProject.ts
  packages/toolpad-core/src/AppProvider/AppProvider.test.tsx
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/ToolpadLogo.tsx
  packages/toolpad-core/src/index.ts
  packages/toolpad-core/src/themes/baseTheme.ts
  packages/toolpad-core/src/themes/index.ts
  pnpm-lock.yaml
Labels: docs, new feature, feature: Components

#3578 [docs] Fix demo codesandbox dependencies
  docs/package.json
  docs/pages/_app.js
  packages/toolpad-core/package.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  pnpm-lock.yaml
Labels: docs

#3580 [core] Base typescript projects on the file location instead of on cwd
  scripts/coreTypescriptProjects.js
Labels: core

#3587 Add Next.js app router Toolpad Core playground
  CONTRIBUTING.md
  package.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  playground/toolpad-core-nextjs/README.md
  playground/toolpad-core-nextjs/next-env.d.ts
  playground/toolpad-core-nextjs/next.config.mjs
  playground/toolpad-core-nextjs/package.json
  playground/toolpad-core-nextjs/src/app/dashboard/layout.tsx
  playground/toolpad-core-nextjs/src/app/dashboard/orders/page.tsx
  playground/toolpad-core-nextjs/src/app/dashboard/page.tsx
  playground/toolpad-core-nextjs/src/app/layout.tsx
  playground/toolpad-core-nextjs/src/app/page.tsx
  playground/toolpad-core-nextjs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core

#3558 [core] Initial DataGrid component
  docs/data/toolpad/core/components/data-grid/BasicDataProvider.js
  docs/data/toolpad/core/components/data-grid/BasicDataProvider.tsx
  docs/data/toolpad/core/components/data-grid/BasicDataProvider.tsx.preview
  docs/data/toolpad/core/components/data-grid/CrudCreate.js
  docs/data/toolpad/core/components/data-grid/CrudCreate.tsx
  docs/data/toolpad/core/components/data-grid/CrudCreate.tsx.preview
  docs/data/toolpad/core/components/data-grid/CrudDelete.js
  docs/data/toolpad/core/components/data-grid/CrudDelete.tsx
  docs/data/toolpad/core/components/data-grid/CrudDelete.tsx.preview
  docs/data/toolpad/core/components/data-grid/CrudUpdate.js
  docs/data/toolpad/core/components/data-grid/CrudUpdate.tsx
  docs/data/toolpad/core/components/data-grid/CrudUpdate.tsx.preview
  docs/data/toolpad/core/components/data-grid/FieldInference.js
  docs/data/toolpad/core/components/data-grid/FieldInference.tsx
  docs/data/toolpad/core/components/data-grid/FieldInference.tsx.preview
  docs/data/toolpad/core/components/data-grid/OverrideColumns.js
  docs/data/toolpad/core/components/data-grid/OverrideColumns.tsx
  docs/data/toolpad/core/components/data-grid/OverrideColumns.tsx.preview
  docs/data/toolpad/core/components/data-grid/ServerSidePagination.js
  docs/data/toolpad/core/components/data-grid/ServerSidePagination.tsx
  docs/data/toolpad/core/components/data-grid/ServerSidePagination.tsx.preview
  docs/data/toolpad/core/components/data-grid/data-grid.md
  docs/data/toolpad/core/introduction/dashboard-tutorial.md
  docs/data/toolpad/core/pages.ts
  docs/data/toolpad/core/pagesApi.js
  docs/pages/toolpad/core/all-components.js
  docs/pages/toolpad/core/api/data-grid.js
  docs/pages/toolpad/core/api/data-grid.json
  docs/pages/toolpad/core/react-data-grid/index.js
  docs/translations/api-docs/data-grid/data-grid.json
  packages/toolpad-core/package.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DataGrid/DataGrid.test.tsx
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
  packages/toolpad-core/src/DataGrid/InferrencingAlert.tsx
  packages/toolpad-core/src/DataGrid/LoadingOverlay.tsx
  packages/toolpad-core/src/DataGrid/NotificationSnackbar.tsx
  packages/toolpad-core/src/DataGrid/index.ts
  packages/toolpad-core/src/DataProvider/DataProvider.test.tsx
  packages/toolpad-core/src/DataProvider/DataProvider.tsx
  packages/toolpad-core/src/DataProvider/filter.tsx
  packages/toolpad-core/src/DataProvider/index.ts
  packages/toolpad-core/src/index.ts
  packages/toolpad-core/src/shared/index.tsx
  packages/toolpad-studio/.sentryclirc.example
  packages/toolpad-utils/src/react.tsx
  pnpm-lock.yaml
Labels: core

#3613 [DataProvider] Support custom Id field
  docs/data/toolpad/core/introduction/Tutorial1.js
  docs/data/toolpad/core/introduction/Tutorial1.tsx
  docs/data/toolpad/core/introduction/Tutorial1.tsx.preview
  docs/data/toolpad/core/introduction/dashboard-tutorial.md
  docs/pages/toolpad/core/introduction/dashboard-tutorial.js
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
  packages/toolpad-core/src/DataGrid/NotificationSnackbar.tsx
  packages/toolpad-core/src/DataProvider/DataProvider.tsx
Labels: core

#3612 [DataGrid] Add height property
  docs/data/toolpad/core/components/data-grid/BasicDataProvider.js
  docs/data/toolpad/core/components/data-grid/BasicDataProvider.tsx
  docs/data/toolpad/core/components/data-grid/CrudCreate.js
  docs/data/toolpad/core/components/data-grid/CrudCreate.tsx
  docs/data/toolpad/core/components/data-grid/CrudDelete.js
  docs/data/toolpad/core/components/data-grid/CrudDelete.tsx
  docs/data/toolpad/core/components/data-grid/CrudUpdate.js
  docs/data/toolpad/core/components/data-grid/CrudUpdate.tsx
  docs/data/toolpad/core/components/data-grid/FieldInference.js
  docs/data/toolpad/core/components/data-grid/FieldInference.tsx
  docs/data/toolpad/core/components/data-grid/OverrideColumns.js
  docs/data/toolpad/core/components/data-grid/OverrideColumns.tsx
  docs/data/toolpad/core/components/data-grid/OverrideColumns.tsx.preview
  docs/data/toolpad/core/components/data-grid/ServerSidePagination.js
  docs/data/toolpad/core/components/data-grid/ServerSidePagination.tsx
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
Labels: enhancement
