Repository mui/toolpad, pull requests merged in 2024-06, with the labels that each got.

#3617 [docs] Add Toolpad core tutorial example
  examples/core-tutorial/.eslintrc.json
  examples/core-tutorial/.gitignore
  examples/core-tutorial/app/(dashboard)/layout.tsx
  examples/core-tutorial/app/(dashboard)/page/page.tsx
  examples/core-tutorial/app/api/auth/[...nextAuth]/route.ts
  examples/core-tutorial/app/auth/[...path]/page.tsx
  examples/core-tutorial/app/layout.tsx
  examples/core-tutorial/app/page.tsx
  examples/core-tutorial/next-env.d.ts
  examples/core-tutorial/next.config.mjs
  examples/core-tutorial/package.json
  examples/core-tutorial/theme.ts
  examples/core-tutorial/tsconfig.json
Labels: docs

#3383 [docs] Start Toolpad Core docs
  docs/data/toolpad/core/all-components/all-components.md
  docs/data/toolpad/core/api/components/dashboard-layout.md
  docs/data/toolpad/core/api/index.md
  docs/data/toolpad/core/components/data-grid/data-grid.md
  docs/data/toolpad/core/components/index.md
  docs/data/toolpad/core/features/data-providers.md
  docs/data/toolpad/core/introduction/TutorialDefault.js
  docs/data/toolpad/core/introduction/build-deploy.md
  docs/data/toolpad/core/introduction/examples.md
  docs/data/toolpad/core/introduction/installation.md
  docs/data/toolpad/core/introduction/overview.md
  docs/data/toolpad/core/introduction/roadmap.md
  docs/data/toolpad/core/introduction/support.md
  docs/data/toolpad/core/introduction/tutorial.md
  docs/data/toolpad/core/pages.ts
  docs/data/toolpad/studio/getting-started/examples-overview.md
  docs/public/static/toolpad/docs/core/installation-1.png
  docs/public/static/toolpad/docs/core/tutorial-1.png
  docs/public/static/toolpad/docs/core/tutorial-2.gif
  docs/src/modules/components/ExamplesGrid/ExamplesGrid.tsx
  docs/src/modules/components/ExamplesGrid/core-examples.ts
  docs/src/modules/components/studio-examples.ts
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
  packages/toolpad-core/src/DataGrid/InferencingAlert.tsx
Labels: docs

#3621 [DataGrid] Data provider create and update fixes
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
Labels: core

#3633 Version 0.2.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/toolpad-core-nextjs/package.json
  test/package.json
Labels: release

#3636 [docs] Fix incorrect heading
  examples/custom-component/README.md
Labels: docs

#3637 Add dashboard tutorial to introduction
  docs/data/toolpad/core/introduction/Tutorial1.js
  docs/data/toolpad/core/introduction/Tutorial1.tsx
  docs/data/toolpad/core/introduction/Tutorial2.js
  docs/data/toolpad/core/introduction/Tutorial2.tsx
  docs/data/toolpad/core/introduction/dashboard-tutorial.md
  docs/data/toolpad/core/introduction/tutorial.md
  docs/pages/toolpad/core/introduction/dashboard-tutorial.js
Labels: docs

#3618 [DataContext] Support global filtering
  docs/data/toolpad/core/components/data-grid/data-grid.md
  docs/data/toolpad/core/introduction/Tutorial1.js
  docs/data/toolpad/core/introduction/Tutorial1.tsx
  docs/data/toolpad/core/introduction/Tutorial2.js
  docs/data/toolpad/core/introduction/Tutorial2.tsx
  docs/data/toolpad/core/introduction/Tutorial3.js
  docs/data/toolpad/core/introduction/Tutorial3.tsx
  docs/data/toolpad/core/introduction/tutorial.md
  packages/toolpad-core/package.json
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
  packages/toolpad-core/src/DataProvider/DataProvider.tsx
  packages/toolpad-core/src/DataProvider/filter.tsx
  packages/toolpad-core/src/LineChart/LineChart.tsx
  pnpm-lock.yaml
Labels: core

#3640 Run toolpad/core tests in the browser
  .circleci/config.yml
  .eslintrc.js
  docs/pages/toolpad/core/api/app-provider.json
  docs/translations/api-docs/app-provider/app-provider.json
  package.json
  packages/create-toolpad-app/package.json
  packages/create-toolpad-app/tests/index.spec.ts
  packages/create-toolpad-app/vitest.config.mts
  packages/toolpad-core/package.json
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
  packages/toolpad-core/src/DataProvider/DataProvider.tsx
  packages/toolpad-core/src/LineChart/LineChart.test.tsx
  packages/toolpad-core/src/nextjs/AppProvider.test.tsx
  packages/toolpad-core/src/nextjs/AppProvider.tsx
  packages/toolpad-core/src/nextjs/AppProviderNextApp.tsx
  packages/toolpad-core/src/nextjs/AppProviderNextPages.tsx
  packages/toolpad-core/src/nextjs/nextCompatRouter.ts
  packages/toolpad-core/src/nextjs/nextNavigation.ts
  packages/toolpad-core/src/nextjs/nextRouter.ts
  packages/toolpad-core/vitest.config.mts
  packages/toolpad-studio/src/server/appServerWorker.ts
  packages/toolpad-studio/vitest.config.mts
  packages/toolpad-utils/vitest.config.mts
  packages/toolpad-utils/vitest.config.ts
  pnpm-lock.yaml
Labels: test

#3648 [code-infra] Add eslint plugin for testing-library
  .eslintrc.js
  package.json
  packages/toolpad-core/src/AppProvider/AppProvider.test.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DataGrid/DataGrid.test.tsx
  packages/toolpad-core/src/DataProvider/DataProvider.test.tsx
  packages/toolpad-core/src/LineChart/LineChart.test.tsx
  packages/toolpad-core/src/nextjs/AppProvider.test.tsx
  pnpm-lock.yaml
  test/setupVitest.ts
Labels: scope: code-infra

#3646 [test] Data grid CRUD tests
  docs/pages/toolpad/core/api/data-grid.json
  packages/toolpad-core/package.json
  packages/toolpad-core/src/DataGrid/DataGrid.test.tsx
  packages/toolpad-core/src/DataGrid/DataGrid.tsx
  packages/toolpad-core/src/DataGrid/NotificationSnackbar.tsx
  packages/toolpad-utils/README.md
  packages/toolpad-utils/package.json
  packages/toolpad-utils/src/describeConformance.ts
Labels: test

#3642 [Studio] Remove old canvas entrypoint
  packages/toolpad-studio/src/exports/canvas.ts
  packages/toolpad-studio/src/server/toolpadAppBuilder.ts
Labels: test

#3670 [test] Test from the user's perspective with user-event
  package.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DataGrid/DataGrid.test.tsx
  pnpm-lock.yaml
Labels: test

#3689 [core] Remove quickjs-emscripten dependency
  packages/toolpad-studio-runtime/package.json
  pnpm-lock.yaml
Labels: dependencies

#3644 [core] Fix a few more React compiler warnings
  docs/pages/toolpad/index.js
  package.json
  packages/toolpad-studio/src/runtime/useAuth.ts
  packages/toolpad-utils/src/hooks/useDebouncedHandler.ts
  pnpm-lock.yaml
Labels: scope: code-infra

#3693 [studio] Add column pinning
  docs/data/toolpad/studio/components/data-grid/DataGridPinning.js
  docs/data/toolpad/studio/components/data-grid/data-grid.md
  docs/public/static/toolpad/docs/studio/components/datagrid/pinning.png
  packages/toolpad-studio-components/src/DataGrid.tsx
  packages/toolpad-studio/src/components/ToggleButtonSelect.tsx
  packages/toolpad-studio/src/server/localMode.ts
  packages/toolpad-studio/src/toolpad/propertyControls/GridColumns.tsx
Labels: new feature, scope: toolpad-studio

#3694 [Update readme] Add openssf badge and fix browerstack logo
  README.md
Labels: dx

#3697 [test] Enable test coverage for @toolpad/core
  .circleci/config.yml
  .gitignore
  codecov.yml
  package.json
  packages/toolpad-core/package.json
  packages/toolpad-core/vitest.config.mts
  packages/toolpad-utils/package.json
  packages/toolpad-utils/vitest.config.mts
  pnpm-lock.yaml
Labels: test

#3709 [docs] Fix link icons for file reference section titles
  docs/src/modules/components/SchemaReference.tsx
Labels: docs

#3695 [core] dedupe emotion and react-query
  packages/toolpad-studio/src/server/toolpadAppBuilder.ts
Labels: core

#3711 [core] Add browserslistrc
  .browserslistrc
  packages/toolpad-core/package.json
Labels: core

#3698 [docs-infra] Sync _app file with monorepo
  docs/pages/_app.js
Labels: scope: docs-infra

#3712 [core] Remove update-monorepo.yml
  .github/workflows/update-monorepo.yml
Labels: core

#3715 [release] v0.3.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  test/package.json
Labels: release
