Repository mui/toolpad, pull requests merged in 2024-12, with the labels that each got.

#4504 [core][PageContainer] Do not spread PageContainer title to child Container
  packages/toolpad-core/src/PageContainer/PageContainer.test.tsx
  packages/toolpad-core/src/PageContainer/PageContainer.tsx
Labels: bug 🐛, component: PageContainer

#4510 [docs] Fix missed parenthesis
  docs/data/toolpad/core/introduction/installation.md
Labels: docs

#4487 [SignInPage] Add "rememberMe" slot
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/translations/api-docs/sign-in-page/sign-in-page.json
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  pnpm-lock.yaml
Labels: enhancement

#4489 [SignInPage] Remove `docs` context from component logic
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/MagicLinkAlertSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/MagicLinkAlertSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/MagicLinkAlertSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/MagicLinkSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/MagicLinkSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/MagicLinkSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.js
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.tsx
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/OAuthSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/OAuthSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/OAuthSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.js
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: core, component: sign-in

#4477 [DashboardLayout] Add `homeUrl` to `branding` and `appTitle` slot
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.js
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.tsx
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.tsx.preview
  docs/pages/toolpad/core/api/app-provider.json
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/DashboardLayout/AppTitle.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: new feature, component: layout

#4529 [SignInPage] Make control in rememberMe slot prop optional
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: enhancement

#4526 [core] Wrap App Router `AppProvider` in Suspense
  docs/data/toolpad/core/integrations/nextjs-approuter.md
  examples/core/auth-nextjs-email/src/app/layout.tsx
  examples/core/auth-nextjs-passkey/src/app/layout.tsx
  examples/core/auth-nextjs-themed/app/layout.tsx
  examples/core/auth-nextjs/src/app/layout.tsx
  examples/core/tutorial/app/api/auth/[...nextAuth]/route.ts
  examples/core/tutorial/app/auth/[...path]/page.tsx
  examples/core/tutorial/app/layout.tsx
  packages/create-toolpad-app/src/templates/nextjs-app/rootLayout.ts
  packages/toolpad-utils/src/react.tsx
  playground/nextjs/src/app/layout.tsx
Labels: core

#4523 [DashboardLayout] Add navigation prop as override
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: enhancement, scope: toolpad-core, component: layout

#4533 Do not make text bold in navigation sidebar
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarSubNavigation.tsx
Labels: scope: toolpad-core, component: layout

#4535 [docs] Improve callout copy for layout override props
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
Labels: docs, scope: toolpad-core

#4536 v0.11.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  test/package.json
Labels: release

#4558 [docs] Fix 301 links
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/data/toolpad/studio/how-to-guides/railway-deploy.md
  docs/src/modules/components/Examples/ExamplesGrid.tsx
  docs/src/modules/components/Examples/FeaturedExamples.tsx
  docs/src/modules/components/Examples/core-examples.ts
  docs/src/modules/components/Examples/types.ts
  examples/core/auth-nextjs-email/README.md
  examples/core/auth-nextjs-passkey/README.md
  examples/core/auth-nextjs-themed/README.md
  examples/core/auth-vite/README.md
  examples/core/firebase-vite/README.md
  examples/core/vite/README.md
  packages/create-toolpad-app/src/generateProject.ts
Labels: docs

#4350 [docs] Fix layout shift example page
  docs/data/toolpad/core/introduction/examples.md
  docs/data/toolpad/studio/getting-started/examples-overview.md
  docs/src/modules/components/Examples/core-examples.ts
  docs/src/modules/components/Examples/studio-examples.ts
  docs/src/modules/components/Examples/types.ts
  docs/src/modules/components/examples/CoreFeaturedExamples.tsx
  docs/src/modules/components/examples/CoreOtherExamples.tsx
  docs/src/modules/components/examples/ExamplesFeatured.tsx
  docs/src/modules/components/examples/ExamplesGrid.tsx
  docs/src/modules/components/examples/StudioExamples.tsx
  docs/src/modules/components/examples/coreExamples.ts
  docs/src/modules/components/examples/examplesUtils.ts
Labels: docs, bug 🐛

#4349 [docs] Link to docs on PRs
  .circleci/config.yml
  dangerfile.ts
  package.json
  pnpm-lock.yaml
Labels: docs, scope: docs-infra
