Repository mui/toolpad, pull requests merged in 2024-08, with the labels that each got.

#3873 [core] Export `@mui/toolpad/internals`
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.js
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.tsx
  docs/data/toolpad/core/components/page-container/BasicPageContainer.js
  docs/data/toolpad/core/components/page-container/BasicPageContainer.tsx
  docs/data/toolpad/core/components/page-container/TitleBreadcrumbsPageContainer.js
  docs/data/toolpad/core/components/page-container/TitleBreadcrumbsPageContainer.tsx
  docs/data/toolpad/core/introduction/TutorialDefault.js
  docs/data/toolpad/core/introduction/TutorialDefault.tsx
  docs/data/toolpad/core/introduction/TutorialPages.js
  docs/data/toolpad/core/introduction/TutorialPages.tsx
  docs/src/components/landing-core/ToolpadPageContainerDemo.tsx
  packages/toolpad-core/src/internals/index.tsx
Labels: core

#3876 Recreate lock file
  pnpm-lock.yaml
Labels: dependencies

#3866 [core] bring in some fixes from the next update branch
  .eslintignore
  packages/toolpad-core/package.json
  packages/toolpad-studio/src/components/TabPanel.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/GlobalScopeExplorer.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/BindableEditor.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/ComponentCatalog/ComponentCatalogItem.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/ErrorAlert.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/UpgradeNotification.tsx
  packages/toolpad-studio/src/toolpad/propertyControls/ColorScale.tsx
  packages/toolpad-studio/src/toolpadDataSources/local/client.tsx
  packages/toolpad-studio/src/toolpadDataSources/rest/BodyEditor.tsx
  pnpm-lock.yaml
Labels: core

#3844 [docs] toolpad-core docs edits
  docs/data/toolpad/core/introduction/build-deploy.md
  docs/data/toolpad/core/introduction/installation.md
  docs/data/toolpad/core/introduction/overview.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/introduction/build-deploy.js
Labels: docs

#3838 [core] Fix docs segments and make navigation item segments optional
  docs/pages/toolpad/core/api/app-provider.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/PageContainer/PageContainer.tsx
  packages/toolpad-core/src/shared/navigation.tsx
  playground/nextjs/src/app/layout.tsx
Labels: core, docs

#3874 [docs] Improve Core tutorial
  docs/data/toolpad/core/introduction/tutorial.md
  examples/core-tutorial/app/(dashboard)/layout.tsx
  examples/core-tutorial/app/(dashboard)/page/page.tsx
  examples/core-tutorial/app/NavigateButton.tsx
  examples/core-tutorial/app/layout.tsx
  examples/core-tutorial/app/page.tsx
  examples/core-tutorial/package.json
  packages/create-toolpad-app/src/generateProject.ts
  pnpm-lock.yaml
Labels: docs

#3897 [docs] Fix missing Studio examples grid
  docs/src/modules/components/ExamplesGrid/studio-examples.ts
Labels: docs

#3848 [docs] Fix grid layout in examples
  docs/src/components/landing-core/Examples.js
Labels: docs

#3893 [docs] Fix issues with DashboardLayout in Toolpad Core homepage
  docs/src/components/landing-core/ToolpadAuthDemo.tsx
  docs/src/components/landing-core/ToolpadDashboardLayout.tsx
  docs/src/components/landing-core/ToolpadPageContainerDemo.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: docs, bug 🐛

#3894 Ensure Material UI v5 compatibility
  docs/data/toolpad/core/components/app-provider/app-provider.md
  packages/create-toolpad-app/src/generateProject.ts
  packages/create-toolpad-app/src/index.ts
  packages/toolpad-core/package.json
Labels: core

#3868 [website] [docs] [cli] Make Core the default project
  README.md
  RELEASE.md
  docs/data/toolpad/core/introduction/installation.md
  docs/data/toolpad/studio/getting-started/first-app.md
  docs/data/toolpad/studio/getting-started/installation.md
  docs/pages/toolpad/core/index.js
  docs/pages/toolpad/index.js
  docs/pages/toolpad/studio/index.js
  docs/src/components/landing-core/Hero.js
  docs/src/components/landing-studio/Banner.js
  docs/src/components/landing-studio/CardGrid.js
  docs/src/components/landing-studio/CodeBlock.js
  docs/src/components/landing-studio/DemoVideo.js
  docs/src/components/landing-studio/GetStartedButtons.js
  docs/src/components/landing-studio/GithubStars.js
  docs/src/components/landing-studio/Hero.js
  docs/src/components/landing-studio/HeroVideo.js
  docs/src/components/landing-studio/Marquee.js
  docs/src/components/landing-studio/PricingTable.js
  docs/src/components/landing-studio/SignUp.js
  docs/src/components/landing-studio/SignUpToast.js
  docs/src/components/landing-studio/UseCases.js
  docs/src/components/landing/BuiltWith.js
  docs/src/components/landing/Examples.js
  docs/src/components/landing/Features.js
  docs/src/components/landing/GetStartedButtons.js
  docs/src/components/landing/Hero.js
  docs/src/components/landing/StudioIntro.js
  docs/src/components/landing/ToolpadAuthDemo.tsx
  docs/src/components/landing/ToolpadDashboardLayout.tsx
  docs/src/components/landing/ToolpadDialogDemo.tsx
  docs/src/components/landing/ToolpadFeaturesSwitcher.tsx
  docs/src/components/landing/ToolpadNotificationDemo.tsx
  docs/src/components/landing/ToolpadPageContainerDemo.tsx
  packages/create-toolpad-app/README.md
  packages/create-toolpad-app/src/index.ts
  packages/create-toolpad-app/tests/index.spec.ts
  packages/toolpad-studio/README.md
Labels: docs, website

#3898 v0.5.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/create-toolpad-app/src/index.ts
  packages/create-toolpad-app/tests/index.spec.ts
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  pnpm-lock.yaml
  test/package.json
Labels: release

#3899 [docs] Update smoke test instructions
  RELEASE.md
Labels: docs

#3903 Increase body-parser limit
  packages/toolpad-studio/src/server/rpc.ts
Labels: enhancement

#3872 [core] Replace `CssVarsProvider` with `ThemeProvider`
  docs/data/toolpad/core/components/app-provider/AppProviderBasic.js
  docs/data/toolpad/core/components/app-provider/AppProviderBasic.tsx
  docs/data/toolpad/core/components/app-provider/AppProviderTheme.js
  docs/data/toolpad/core/components/app-provider/AppProviderTheme.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBasic.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBasic.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutBranding.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationActions.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationActions.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationDividers.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationDividers.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationHeadings.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationHeadings.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationLinks.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationLinks.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationNested.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutNavigationNested.tsx
  docs/data/toolpad/core/introduction/TutorialDefault.js
  docs/data/toolpad/core/introduction/TutorialDefault.tsx
  docs/data/toolpad/core/introduction/TutorialPages.js
  docs/data/toolpad/core/introduction/TutorialPages.tsx
  docs/pages/toolpad/core/api/app-provider.json
  docs/src/components/landing/ToolpadPageContainerDemo.tsx
  examples/core-tutorial/theme.ts
  packages/toolpad-core/package.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/AppProvider/AppThemeProvider.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  pnpm-lock.yaml
Labels: proof of concept

#3907 [studio] Support Blob in js expressions
  packages/toolpad-studio-runtime/src/jsBrowserRuntime.tsx
Labels: enhancement, scope: toolpad-studio

#3908 fix: Support `require`
  packages/toolpad-core/package.json
Labels: core

#3912 [core] Remove @mui/base dependency from @toolpad/core
  packages/toolpad-core/package.json
  packages/toolpad-core/src/PageContainer/PageContainer.tsx
  packages/toolpad-core/src/useNotifications/NotificationsProvider.tsx
  pnpm-lock.yaml
Labels: core

#3910 [core] Port fixes from Material UI v6 migration branch
  .circleci/config.yml
  examples/core-auth-nextjs-pages/package.json
  examples/core-auth-nextjs/package.json
  examples/core-tutorial/theme.ts
  package.json
  playground/nextjs-pages/package.json
  playground/nextjs-pages/src/auth.ts
  playground/nextjs/package.json
  playground/nextjs/src/auth.ts
  pnpm-lock.yaml
Labels: core

#3911 [docs] upgrade monorepo
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.js
  docs/data/toolpad/core/components/page-container/ActionsPageContainer.tsx
  docs/data/toolpad/core/components/page-container/BasicPageContainer.js
  docs/data/toolpad/core/components/page-container/BasicPageContainer.tsx
  docs/data/toolpad/core/components/page-container/TitleBreadcrumbsPageContainer.js
  docs/data/toolpad/core/components/page-container/TitleBreadcrumbsPageContainer.tsx
  docs/data/toolpad/core/components/use-notifications/ScopedNotification.js
  docs/data/toolpad/core/components/use-notifications/ScopedNotification.tsx
  docs/data/toolpad/core/introduction/TutorialPages.js
  docs/data/toolpad/core/introduction/TutorialPages.tsx
  docs/data/toolpad/core/introduction/tutorial.md
  docs/data/toolpad/studio/components/button/ButtonColor.js
  docs/data/toolpad/studio/components/button/ButtonState.js
  docs/data/toolpad/studio/components/button/ButtonVariant.js
  docs/pages/_document.js
  docs/pages/toolpad/core/react-use-notifications/index.js
  docs/src/components/landing/Hero.js
  docs/src/components/landing/ToolpadDashboardLayout.tsx
  docs/src/modules/components/SchemaReference.tsx
  package.json
  pnpm-lock.yaml
Labels: docs

#3840 [test] Add test for nested routes in PageContainer
  packages/toolpad-core/src/PageContainer/PageContainer.test.tsx
Labels: test

#3915 [core] Refix mobile menu closing when link is clicked
  docs/src/components/landing/ToolpadDashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: bug 🐛

#3918 v0.5.1
  CHANGELOG.md
  docs/package.json
  examples/core-auth-nextjs-pages/src/pages/auth/signin.tsx
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  test/package.json
Labels: release

#3936 [website] Improve hero
  docs/package.json
  docs/src/components/landing-studio/Hero.js
  docs/src/components/landing/Features.js
  docs/src/components/landing/Hero.js
  pnpm-lock.yaml
Labels: website

#3938 [website] Fix brand copy
  docs/src/components/landing/Hero.js
Labels: website

#3939 [website] Add missing <Head>
  docs/pages/toolpad/index.js
  docs/pages/toolpad/studio/index.js
  docs/src/components/landing/BuiltWith.js
Labels: docs, bug 🐛, regression, website

#3928 [docs] Improve docs and address some ahrefs reported 404s
  README.md
  docs/data/toolpad/core/all-components/all-components.md
  docs/data/toolpad/core/components/page-container/TitleBreadcrumbsPageContainer.js
  docs/data/toolpad/core/components/page-container/TitleBreadcrumbsPageContainer.tsx
  docs/data/toolpad/core/components/use-dialogs/use-dialogs.md
  docs/data/toolpad/core/components/use-notifications/use-notifications.md
  docs/data/toolpad/core/introduction/overview.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/api/dialogs-provider.json
  docs/pages/toolpad/core/api/notifications-provider.json
  docs/pages/toolpad/index.js
  packages/toolpad-core/README.md
  packages/toolpad-core/src/Account/Account.tsx
  packages/toolpad-core/src/useDialogs/DialogsProvider.tsx
  packages/toolpad-core/src/useNotifications/NotificationsProvider.tsx
Labels: docs

#3965 [website] Add og image
  docs/pages/toolpad/index.js
  docs/public/static/toolpad/marketing/toolpad-core-og.jpg
  docs/public/static/toolpad/marketing/toolpad-og.jpg
Labels: docs

#3935 [core] Polish `SignInPage` and docs
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/translations/api-docs/sign-in-page/sign-in-page.json
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  playground/nextjs-pages/src/pages/auth/signin.tsx
  playground/nextjs/src/app/auth/signin/actions.ts
  playground/nextjs/src/app/auth/signin/page.tsx
Labels: docs, enhancement

#3977 [docs] Sign-in page grammar
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/api/account.json
  docs/pages/toolpad/core/api/notifications-provider.json
  docs/pages/toolpad/core/api/sign-in-page.json
  packages/toolpad-core/src/Account/Account.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  packages/toolpad-core/src/useNotifications/NotificationsProvider.tsx
Labels: docs

#3975 [code-infra] Fully resolve imports in ESM target
  babel.config.js
  package.json
  pnpm-lock.yaml
Labels: scope: code-infra

#3968 [docs] Follow theme on `SignInPage` docs demos
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.js
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.tsx
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/OAuthSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/OAuthSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/OAuthSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/public/static/toolpad/docs/core/auth-next-dark.png
  docs/src/modules/components/DocsImage.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  pnpm-lock.yaml
Labels: docs

#3986 [docs] Fix Core docs navigation sidebar links
  docs/data/toolpad/core/pages.ts
Labels: docs

#3999 [fix] Update to have API page URLs built correctly
  docs/next.config.mjs
  package.json
  pnpm-lock.yaml
Labels: scope: docs-infra

#4002 [release] v0.5.2
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  test/package.json
Labels: release

#4010 [code-infra] Upgrade monorepo
  package.json
  pnpm-lock.yaml
Labels: dependencies, scope: code-infra

#4011 [examples] Remove unnecessary lock file
  examples/core-auth-nextjs/package-lock.json
Labels: examples

#4016 [Account] Use outlined button for logout
  packages/toolpad-core/src/Account/Account.tsx
Labels: enhancement

#3984 [core] Add toolbarActions and toolbarAccount slots to DashboardLayout
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutSlots.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  docs/translations/api-docs/sign-in-page/sign-in-page.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/ThemeSwitcher.tsx
  packages/toolpad-core/src/DashboardLayout/ToolbarActions.tsx
  packages/toolpad-core/src/DashboardLayout/index.ts
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: feature: Components

#3970 [docs] Add signed in state as default on `<Account />` docs
  docs/data/toolpad/core/components/account/AccountCustom.js
  docs/data/toolpad/core/components/account/AccountCustom.tsx
  docs/data/toolpad/core/components/account/AccountCustom.tsx.preview
  docs/data/toolpad/core/components/account/AccountDemoSignedIn.js
  docs/data/toolpad/core/components/account/AccountDemoSignedIn.tsx
  docs/data/toolpad/core/components/account/AccountDemoSignedIn.tsx.preview
  docs/data/toolpad/core/components/account/AccountDemoSignedOut.js
  docs/data/toolpad/core/components/account/AccountDemoSignedOut.tsx
  docs/data/toolpad/core/components/account/AccountDemoSignedOut.tsx.preview
  docs/data/toolpad/core/components/account/account.md
Labels: docs
