Repository mui/toolpad, pull requests merged in 2025-02, with the labels that each got.

#4656 Fix pnpm in Circle CI
  .circleci/config.yml
  pnpm-lock.yaml
Labels: core

#4657 Fix Next.js Pages Router pathname in AppProvider
  packages/toolpad-core/src/nextjs/NextAppProviderPages.tsx
  playground/nextjs-pages/next-env.d.ts
  playground/nextjs/next-env.d.ts
Labels: bug 🐛

#4660 [docs] Fix typos
  docs/data/toolpad/studio/concepts/custom-server.md
  docs/data/toolpad/studio/concepts/deployment.md
  docs/data/toolpad/studio/concepts/page-properties.md
  docs/data/toolpad/studio/concepts/queries.md
  docs/data/toolpad/studio/how-to-guides/connect-to-databases.md
Labels: docs

#4641 [core] Page should have h1
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: core, bug 🐛

#4666 fix: typos in documentation files
  examples/core/auth-nextjs-email/README.md
  test/integration/data-grid/custom.spec.ts
  test/integration/undo-redo/basic.spec.ts
Labels: docs

#4668 [docx] Fix codeblock typo
  docs/data/toolpad/core/integrations/react-router.md
Labels: docs

#4667 [docs] Remove the planned components
  docs/data/toolpad/core/pages.ts
Labels: docs, scope: toolpad-core

#4648 [DashboardLayout] link `line-heigth` to `font-size` in `AppTitle`
  packages/toolpad-core/src/DashboardLayout/AppTitle.tsx
Labels: enhancement

#4639 [docs] Add CLI install instructions to docs
  docs/data/toolpad/core/introduction/examples.md
  docs/data/toolpad/core/introduction/tutorial.md
  docs/src/modules/components/examples/ExamplesFeatured.tsx
  docs/src/modules/components/examples/ExamplesGrid.tsx
  examples/core/auth-nextjs-email/README.md
  examples/core/auth-nextjs-pages-nextauth-4/README.md
  examples/core/auth-nextjs-pages/README.md
  examples/core/auth-nextjs-passkey/README.md
  examples/core/auth-nextjs-themed/README.md
  examples/core/auth-nextjs/README.md
  examples/core/auth-vite/README.md
  examples/core/firebase-vite/README.md
  examples/core/tutorial/README.md
  examples/core/vite/README.md
  pnpm-lock.yaml
Labels: docs, examples

#4670 [docs] Add Trending badge
  README.md
Labels: docs

#4620 [core] Add `LocalizationProvider`
  docs/data/toolpad/core/components/account/AccountCustomLocaleText.js
  docs/data/toolpad/core/components/account/AccountCustomLocaleText.tsx
  docs/data/toolpad/core/components/account/AccountCustomLocaleText.tsx.preview
  docs/data/toolpad/core/components/account/AccountCustomSlotProps.js
  docs/data/toolpad/core/components/account/AccountCustomSlotProps.tsx
  docs/data/toolpad/core/components/account/AccountCustomUserDetails.js
  docs/data/toolpad/core/components/account/AccountCustomUserDetails.tsx
  docs/data/toolpad/core/components/account/AccountDemoSignedIn.js
  docs/data/toolpad/core/components/account/AccountDemoSignedIn.tsx
  docs/data/toolpad/core/components/account/AccountDemoSignedOut.js
  docs/data/toolpad/core/components/account/AccountDemoSignedOut.tsx
  docs/data/toolpad/core/components/account/AccountDemoSignedOut.tsx.preview
  docs/data/toolpad/core/components/account/AccountSlotsAccountSwitcher.js
  docs/data/toolpad/core/components/account/AccountSlotsAccountSwitcher.tsx
  docs/data/toolpad/core/components/account/account.md
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/data/toolpad/core/introduction/base-concepts.md
  docs/data/toolpad/core/pagesApi.js
  docs/pages/toolpad/core/api/account.json
  docs/pages/toolpad/core/api/app-provider.json
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/pages/toolpad/core/api/localization-provider.js
  docs/pages/toolpad/core/api/localization-provider.json
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/translations/api-docs/app-provider/app-provider.json
  docs/translations/api-docs/localization-provider/localization-provider.json
  docs/translations/api-docs/sign-in-page/sign-in-page.json
  packages/toolpad-core/src/Account/Account.tsx
  packages/toolpad-core/src/Account/AccountLocaleContext.tsx
  packages/toolpad-core/src/Account/AccountPreview.tsx
  packages/toolpad-core/src/Account/SignInButton.tsx
  packages/toolpad-core/src/Account/SignOutButton.tsx
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/AppProvider/LocalizationProvider.tsx
  packages/toolpad-core/src/AppProvider/index.ts
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  packages/toolpad-core/src/locales/en.tsx
  packages/toolpad-core/src/locales/getLocalization.ts
  packages/toolpad-core/src/locales/hiIN.tsx
  packages/toolpad-core/src/shared/locales/LocaleContext.tsx
  packages/toolpad-core/src/shared/locales/en.tsx
  packages/toolpad-core/src/useDialogs/useDialogs.tsx
  packages/toolpad-core/src/useNotifications/NotificationsProvider.tsx
  scripts/generateProptypes.ts
Labels: new feature, l10n

#4672 [docs] add customization section to notifications
  docs/data/toolpad/core/components/use-notifications/use-notifications.md
Labels: docs

#4674 [feat] Add `form` and `oauthButton` slot props
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/BrandingSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/CredentialsSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/MagicLinkAlertSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/MagicLinkAlertSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/MagicLinkAlertSignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.js
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.tsx
  docs/data/toolpad/core/components/sign-in-page/NotificationsSignInPageError.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.js
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/PasskeySignInPage.tsx.preview
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx.preview
  docs/pages/toolpad/core/api/sign-in-page.json
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: enhancement, component: sign-in

#4707 Fix dialogs close
  packages/toolpad-core/src/useDialogs/DialogsProvider.tsx
  packages/toolpad-core/src/useDialogs/useDialogs.test.tsx
Labels: core

#4712 [release] v0.12.1
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  test/package.json
Labels: release
