Repository mui/toolpad, pull requests merged in 2025-06, with the labels that each got.

#4937 [CRUD] CRUD UI improvements
  packages/toolpad-core/src/Crud/Edit.tsx
  packages/toolpad-core/src/Crud/List.tsx
  packages/toolpad-core/src/Crud/Show.tsx
Labels: enhancement, component: crud

#5015 [docs] Add maintenance mode warnings
  README.md
  docs/data/toolpad/core/introduction/overview.md
  docs/data/toolpad/core/pages.ts
Labels: docs

#4979 Add TanStackRouterProvider examples
  docs/data/toolpad/core/integrations/tanstack-router.md
  examples/core/crud-vite-tanstack-router/.gitignore
  examples/core/crud-vite-tanstack-router/.vscode/settings.json
  examples/core/crud-vite-tanstack-router/index.html
  examples/core/crud-vite-tanstack-router/package.json
  examples/core/crud-vite-tanstack-router/public/favicon.ico
  examples/core/crud-vite-tanstack-router/public/logo192.png
  examples/core/crud-vite-tanstack-router/public/logo512.png
  examples/core/crud-vite-tanstack-router/public/manifest.json
  examples/core/crud-vite-tanstack-router/public/robots.txt
  examples/core/crud-vite-tanstack-router/src/data/employees.ts
  examples/core/crud-vite-tanstack-router/src/main.tsx
  examples/core/crud-vite-tanstack-router/src/routeTree.gen.ts
  examples/core/crud-vite-tanstack-router/src/routes/__root.tsx
  examples/core/crud-vite-tanstack-router/src/routes/_layout/employees.$.tsx
  examples/core/crud-vite-tanstack-router/src/routes/_layout/index.tsx
  examples/core/crud-vite-tanstack-router/src/routes/_layout/route.tsx
  examples/core/crud-vite-tanstack-router/tsconfig.json
  examples/core/crud-vite-tanstack-router/vite.config.js
  examples/core/vite-tanstack-router/.gitignore
  examples/core/vite-tanstack-router/.vscode/settings.json
  examples/core/vite-tanstack-router/index.html
  examples/core/vite-tanstack-router/package.json
  examples/core/vite-tanstack-router/public/favicon.ico
  examples/core/vite-tanstack-router/public/logo192.png
  examples/core/vite-tanstack-router/public/logo512.png
  examples/core/vite-tanstack-router/public/manifest.json
  examples/core/vite-tanstack-router/public/robots.txt
  examples/core/vite-tanstack-router/src/main.tsx
  examples/core/vite-tanstack-router/src/routeTree.gen.ts
  examples/core/vite-tanstack-router/src/routes/__root.tsx
  examples/core/vite-tanstack-router/src/routes/_layout/index.tsx
  examples/core/vite-tanstack-router/src/routes/_layout/orders.tsx
  examples/core/vite-tanstack-router/src/routes/_layout/route.tsx
  examples/core/vite-tanstack-router/tsconfig.json
  examples/core/vite-tanstack-router/vite.config.js
Labels: examples

#5018 Fix Typos in Button and Date Picker Documentation
  docs/data/toolpad/studio/components/button/button.md
  docs/data/toolpad/studio/components/date-picker/date-picker.md
Labels: docs

#5036 Documentation adjustments to project maintenance notices
  README.md
  docs/data/toolpad/core/introduction/overview.md
Labels: docs

#5037 Minor Typo Fixes and Documentation Improvements
  packages/create-toolpad-app/src/generateProject.ts
  packages/toolpad-utils/src/collections.ts
Labels: core
