Repository mui/toolpad, pull requests merged in 2025-04, with the labels that each got.

#4785 [docs] Add CRUD to themed example
  examples/core/auth-nextjs-themed/app/(dashboard)/employees/[[...segments]]/page.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/layout.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/orders/page.tsx
  examples/core/auth-nextjs-themed/app/components/CustomDataGrid.tsx
  examples/core/auth-nextjs-themed/app/layout.tsx
  examples/core/auth-nextjs-themed/app/mocks/employees.ts
  examples/core/auth-nextjs-themed/next-env.d.ts
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-nextjs-themed/theme/customizations/dataDisplay.tsx
  examples/core/auth-nextjs-themed/theme/customizations/inputs.tsx
  examples/core/auth-nextjs-themed/theme/themeTypes.d.ts
  examples/core/auth-nextjs-themed/tsconfig.json
  examples/core/crud-nextjs-pages/package.json
  examples/core/crud-nextjs/package.json
  examples/core/crud-vite/package.json
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarSubNavigation.tsx
Labels: docs, examples

#4773 [core] [i18n] Add interpolation to translation keys
  CHANGELOG.md
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.tsx.preview
  docs/data/toolpad/core/introduction/base-concepts.md
  packages/toolpad-core/src/AppProvider/LocalizationProvider.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.test.tsx
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
  packages/toolpad-core/src/locales/en.tsx
  packages/toolpad-core/src/locales/hiIN.tsx
  scripts/generateProptypes.ts
Labels: i18n

#4761 Feature/add title for accessibility
  packages/create-toolpad-app/src/templates/nextjs/nextjs-app/rootLayout.ts
  packages/create-toolpad-app/src/templates/nextjs/nextjs-pages/document.ts
Labels: accessibility

#4831 Corrected 'Returns' section grammer
  docs/data/toolpad/core/components/persistent-state/use-local-storage-state-api.md
Labels: docs

#4838 release: v0.14.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  pnpm-lock.yaml
Labels: release

#4847 [cli] Fix typo
  packages/create-toolpad-app/src/templates/nextjs/nextjs-app/rootLayout.ts
  packages/create-toolpad-app/src/templates/nextjs/nextjs-pages/document.ts
Labels: regression

#4854 Remove MUI X libraries as peer dependencies
  packages/toolpad-core/package.json
  pnpm-lock.yaml
Labels: core, scope: toolpad-core

#4851 [docs] Add CRUD to docs introduction page
  docs/data/toolpad/core/introduction/Introduction.js
  docs/data/toolpad/core/introduction/Introduction.tsx
  docs/data/toolpad/core/introduction/Introduction.tsx.preview
  docs/data/toolpad/core/introduction/overview.md
Labels: docs, component: crud

#4861 [DashboardLayout] Prevent horizontal scrollbars by adding tolerance
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
Labels: design: ui

#4809 [DashboardLayout] Allow custom navigation page items
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutCustomPageItems.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutCustomPageItems.tsx
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutCustomPageItems.tsx.preview
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutPattern.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutPattern.tsx
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/data/toolpad/core/pagesApi.js
  docs/pages/toolpad/core/api/dashboard-layout.json
  docs/pages/toolpad/core/api/dashboard-sidebar-page-item.js
  docs/pages/toolpad/core/api/dashboard-sidebar-page-item.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  docs/translations/api-docs/dashboard-sidebar-page-item/dashboard-sidebar-page-item.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarPageItem.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarSubNavigation.tsx
  packages/toolpad-core/src/DashboardLayout/index.ts
  packages/toolpad-core/src/shared/context.ts
Labels: enhancement, scope: toolpad-core, component: layout

#4863 Update dependencies in `create-toolpad-app` and examples
  examples/core/auth-nextjs-email/package.json
  examples/core/auth-nextjs-pages-nextauth-4/package.json
  examples/core/auth-nextjs-pages/package.json
  examples/core/auth-nextjs-passkey/package.json
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-nextjs/package.json
  examples/core/auth-vite/package.json
  examples/core/crud-nextjs-pages/package.json
  examples/core/crud-nextjs/package.json
  examples/core/crud-vite/package.json
  examples/core/firebase-vite/package.json
  examples/core/tutorial/package.json
  examples/core/vite/package.json
  packages/create-toolpad-app/src/templates/packageJson.ts
Labels: core, bug 🐛, examples, create-toolpad-app, scope: toolpad-core

#4843 [docs] [examples] Don't use `checkboxSelection` in CRUD examples
  docs/data/toolpad/core/components/crud/CrudListDataGrid.js
  docs/data/toolpad/core/components/crud/CrudListDataGrid.tsx
  docs/data/toolpad/core/components/crud/CrudListDataGrid.tsx.preview
  examples/core/auth-nextjs-themed/app/components/CustomDataGrid.tsx
Labels: docs, examples

#4834 [examples] Use REST API for CRUD in themed example
  examples/core/auth-nextjs-themed/app/(dashboard)/employees/[[...segments]]/page.tsx
  examples/core/auth-nextjs-themed/app/api/employees/[id]/route.ts
  examples/core/auth-nextjs-themed/app/api/employees/route.ts
  examples/core/auth-nextjs-themed/app/employeesStore.ts
  examples/core/auth-nextjs-themed/app/mocks/employees.ts
  examples/core/auth-nextjs-themed/theme/customizations/dataDisplay.tsx
  examples/core/auth-nextjs-themed/theme/customizations/inputs.tsx
Labels: examples

#4877 [examples] Update themed example according to latest dependencies
  examples/core/auth-nextjs-themed/app/(dashboard)/DashboardContent.tsx
  examples/core/auth-nextjs-themed/app/(dashboard)/employees/[[...segments]]/page.tsx
  examples/core/auth-nextjs-themed/app/components/CustomTreeView.tsx
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-nextjs-themed/theme/customizations/inputs.tsx
  examples/core/auth-nextjs-themed/theme/themeTypes.d.ts
  pnpm-lock.yaml
Labels: examples, scope: toolpad-core

#4574 [SignInPage] Remove default `RememberMe`
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotPropsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.js
  docs/data/toolpad/core/components/sign-in-page/SlotsSignIn.tsx
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/pages/toolpad/core/api/sign-in-page.json
  docs/translations/api-docs/sign-in-page/sign-in-page.json
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: component: sign-in

#4891 [core] Update MUI X to 8.1.0
  docs/next.config.ts
  docs/package.json
  package.json
  packages/toolpad-core/package.json
  packages/toolpad-core/vitest.config.base.mts
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  pnpm-lock.yaml
Labels: core

#4855 [SignInPage] Small refactor for "or" divider
  .gitignore
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx
  docs/data/toolpad/core/components/sign-in-page/ThemeSignInPage.tsx.preview
  packages/toolpad-core/src/SignInPage/SignInPage.tsx
Labels: design: ui, component: sign-in

#4907 [CRUD] Stop CRUD List DataGrid from rendering with SSR
  packages/toolpad-core/src/Crud/List.tsx
  packages/toolpad-core/src/shared/NoSsr.tsx
Labels: bug 🐛, scope: toolpad-core, component: crud

#4909 [DashboardLayout] Fix mini-sidebar alignment
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarPageItem.tsx
Labels: bug 🐛, scope: toolpad-core, component: layout

#4881 [DashboardLayout] Remove `DashboardLayout` navigation prop
  docs/data/toolpad/core/components/dashboard-layout/dashboard-layout.md
  docs/pages/toolpad/core/api/dashboard-layout.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/internal/demo.tsx
Labels: scope: toolpad-core, component: layout

#4910 [AppProvider] Make theming not require specific HTML attribute name
  docs/data/toolpad/core/components/app-provider/app-provider.md
  docs/pages/toolpad/core/api/app-provider.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/AppProvider/AppThemeProvider.tsx
Labels: docs, customization: theme
