Repository mui/toolpad, pull requests merged in 2025-01, with the labels that each got.

#4576 [ci] Fix CI failing due to Recharts console error
  pnpm-lock.yaml
  test/package.json
Labels: scope: infra

#4577 [chore] Remove lockfile from example
  examples/core/auth-nextjs-themed/pnpm-lock.yaml
Labels: core

#4522 [DashboardLayout] Fix sidebar CSS transitions for some breakpoints
  package.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  pnpm-lock.yaml
  test/setupVitest.ts
Labels: bug 🐛, scope: toolpad-core, component: layout

#4571 [PageHeader] Allow multiple breadcrumbs that are not links
  docs/pages/toolpad/core/api/page-container.json
  docs/pages/toolpad/core/api/page-header.json
  packages/toolpad-core/src/PageContainer/PageContainer.tsx
  packages/toolpad-core/src/PageContainer/PageHeader.tsx
Labels: Toolpad

#4555 [Account] Prevent account info overflowing on kebab menu
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutAccountSidebar.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutAccountSidebar.tsx
  packages/toolpad-core/src/Account/AccountPreview.tsx
Labels: bug 🐛

#4545 [cli] Add framework selection to support Vite
  docs/data/toolpad/core/components/sign-in-page/sign-in-page.md
  docs/data/toolpad/core/integrations/react-router.md
  examples/core/auth-vite/README.md
  examples/core/firebase-vite/README.md
  examples/core/firebase-vite/package.json
  examples/core/vite/README.md
  packages/create-toolpad-app/src/generateProject.ts
  packages/create-toolpad-app/src/index.ts
  packages/create-toolpad-app/src/templates/gitignore.ts
  packages/create-toolpad-app/src/templates/indexPage.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/auth.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/env.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/envLocal.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/middleware.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/nextjs-app/actions.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/nextjs-app/signInPage.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/nextjs-pages/signIn.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/prisma.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/route.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/schemaPrisma.ts
  packages/create-toolpad-app/src/templates/nextjs/auth/utils.ts
  packages/create-toolpad-app/src/templates/nextjs/nextjs-app/dashboardLayout.ts
  packages/create-toolpad-app/src/templates/nextjs/nextjs-app/rootLayout.ts
  packages/create-toolpad-app/src/templates/nextjs/nextjs-pages/app.ts
  packages/create-toolpad-app/src/templates/nextjs/nextjs-pages/document.ts
  packages/create-toolpad-app/src/templates/packageJson.ts
  packages/create-toolpad-app/src/templates/vite/App.ts
  packages/create-toolpad-app/src/templates/vite/SessionContext.ts
  packages/create-toolpad-app/src/templates/vite/auth/env.ts
  packages/create-toolpad-app/src/templates/vite/auth/firebase.ts
  packages/create-toolpad-app/src/templates/vite/auth/firebaseConfig.ts
  packages/create-toolpad-app/src/templates/vite/auth/signin.ts
  packages/create-toolpad-app/src/templates/vite/dashboardLayout.ts
  packages/create-toolpad-app/src/templates/vite/html.ts
  packages/create-toolpad-app/src/templates/vite/main.ts
  packages/create-toolpad-app/src/templates/vite/viteConfig.ts
  packages/create-toolpad-app/src/types.ts
  packages/create-toolpad-app/tests/index.spec.ts
Labels: create-toolpad-app

#4488 [core] Upgrade Toolpad to React 19
  docs/package.json
  examples/core/auth-nextjs-email/package.json
  examples/core/auth-nextjs-pages-nextauth-4/package.json
  examples/core/auth-nextjs-pages-nextauth-4/src/pages/_app.tsx
  examples/core/auth-nextjs-pages/package.json
  examples/core/auth-nextjs-pages/src/pages/_app.tsx
  examples/core/auth-nextjs-passkey/package.json
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-nextjs/package.json
  examples/core/auth-vite/package.json
  examples/core/firebase-vite/package.json
  examples/core/tutorial/package.json
  examples/core/vite/package.json
  examples/studio/custom-server-nextjs/package.json
  package.json
  packages/create-toolpad-app/src/templates/packageJson.ts
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-components/src/DataGrid.tsx
  packages/toolpad-studio-components/src/Form.tsx
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio-runtime/src/runtime.tsx
  packages/toolpad-studio/package.json
  packages/toolpad-studio/src/components/PropertyControl.tsx
  packages/toolpad-studio/src/runtime/ToolpadApp.tsx
  packages/toolpad-studio/src/server/toolpadAppBuilder.ts
  packages/toolpad-studio/src/toolpad/AppEditor/AppAuthorizationEditor.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/HierarchyExplorer/index.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/ComponentCatalog/ComponentCatalog.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PageEditor/EditorCanvasHost.tsx
  packages/toolpad-studio/src/toolpad/AppEditor/PagesExplorer/index.tsx
  packages/toolpad-studio/src/toolpadDataSources/local/client.tsx
  packages/toolpad-studio/src/toolpadDataSources/rest/client.tsx
  packages/toolpad-studio/src/utils/platform.tsx
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs-pages/src/pages/_app.tsx
  playground/nextjs/package.json
  playground/vite/package.json
  pnpm-lock.yaml
  test/integration/backend-basic/index.spec.ts
  test/package.json
  test/playwright/test.ts
Labels: core

#4582 [release] v0.12.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  test/package.json
Labels: release

#4594 [docs] Fix build errors with Next.js 14
  docs/next-env.d.ts
  docs/package.json
  pnpm-lock.yaml
Labels: docs, regression

#4606 Use precise version in examples to try to fix CodeSandbox
  examples/core/auth-nextjs-email/package.json
  examples/core/auth-nextjs-pages-nextauth-4/package.json
  examples/core/auth-nextjs-pages/package.json
  examples/core/auth-nextjs-passkey/package.json
  examples/core/auth-nextjs-themed/package.json
  examples/core/auth-nextjs/package.json
  examples/core/auth-vite/package.json
  examples/core/firebase-vite/package.json
  examples/core/tutorial/package.json
  examples/core/vite/package.json
Labels: bug 🐛

#4605 [utils] Remove React dependency
  packages/toolpad-utils/package.json
  pnpm-lock.yaml
Labels: bug 🐛

#4622 fix: .gitignore has tabs
  packages/create-toolpad-app/src/templates/gitignore.ts
Labels: core, create-toolpad-app

#4597 [cli] Refactor setup
  packages/create-toolpad-app/src/core.ts
  packages/create-toolpad-app/src/index.ts
  packages/create-toolpad-app/src/package.ts
  packages/create-toolpad-app/src/packageType.ts
  packages/create-toolpad-app/src/studio.ts
  packages/create-toolpad-app/src/types.ts
  packages/create-toolpad-app/src/validation.ts
Labels: create-toolpad-app

#4640 [docs] Remove @latest for pnpm, not needed
  examples/core/auth-nextjs-email/README.md
  examples/core/auth-nextjs-pages-nextauth-4/README.md
  examples/core/auth-nextjs-pages/README.md
  examples/core/auth-nextjs-passkey/README.md
  examples/core/auth-nextjs-themed/README.md
  examples/core/auth-nextjs/README.md
  examples/core/auth-vite/README.md
  examples/core/firebase-vite/README.md
  examples/core/tutorial/README.md
  examples/core/vite/README.md
Labels: docs

#4642 [docs] Fix redirection to GitHub example view
  docs/src/modules/components/examples/ExamplesFeatured.tsx
  docs/src/modules/components/examples/ExamplesGrid.tsx
  docs/src/modules/components/examples/coreExamples.ts
  docs/src/modules/components/examples/examplesUtils.ts
Labels: docs, bug 🐛
