Repository mui/toolpad, pull requests merged in 2025-03, with the labels that each got.

#4716 [docs] Remove email as a way to get support
  docs/data/toolpad/core/introduction/support.md
  docs/data/toolpad/studio/getting-started/support.md
Labels: docs

#4745 [code-infra] Revert ESM update for toolpad-core
  packages/toolpad-core/package.json
  packages/toolpad-core/src/nextjs/NextAppProvider.test.tsx
  packages/toolpad-core/src/nextjs/NextAppProvider.tsx
  packages/toolpad-core/src/nextjs/NextAppProviderApp.tsx
  packages/toolpad-core/src/nextjs/NextAppProviderPages.tsx
  packages/toolpad-core/tsconfig.build.json
  packages/toolpad-utils/package.json
  scripts/build.mjs
  scripts/buildTypes.mjs
  scripts/copyFiles.mjs
Labels: scope: code-infra

#4750 [docs] Add "new" label to CRUD item
  docs/data/toolpad/core/pages.ts
Labels: docs

#4751 [CRUD] Adjust types and documentation
  docs/data/toolpad/core/components/app-provider/app-provider.md
  docs/data/toolpad/core/components/crud/CrudAdvanced.js
  docs/data/toolpad/core/components/crud/CrudAdvanced.tsx
  docs/data/toolpad/core/components/crud/CrudBasic.js
  docs/data/toolpad/core/components/crud/CrudBasic.tsx
  docs/data/toolpad/core/components/crud/CrudList.js
  docs/data/toolpad/core/components/crud/CrudList.tsx
  docs/data/toolpad/core/components/crud/CrudListDataGrid.js
  docs/data/toolpad/core/components/crud/CrudListDataGrid.tsx
  docs/data/toolpad/core/components/crud/CrudNoCache.js
  docs/data/toolpad/core/components/crud/CrudNoCache.tsx
  docs/data/toolpad/core/components/crud/crud.md
  docs/pages/toolpad/core/api/crud-form.json
  docs/translations/api-docs/app-provider/app-provider.json
  docs/translations/api-docs/crud-form/crud-form.json
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/Crud/CrudForm.tsx
  packages/toolpad-core/src/Crud/types.ts
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  playground/nextjs-pages/src/data/orders.ts
  playground/nextjs/src/data/orders.ts
  playground/vite/src/data/orders.ts
Labels: docs, typescript

#4752 v0.13.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-studio-components/package.json
  packages/toolpad-studio-runtime/package.json
  packages/toolpad-studio/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  test/package.json
Labels: release

#4709 [CRUD] Add basic tests
  docs/data/toolpad/core/components/crud/CrudAdvanced.js
  docs/data/toolpad/core/components/crud/CrudAdvanced.tsx
  docs/data/toolpad/core/components/crud/CrudBasic.js
  docs/data/toolpad/core/components/crud/CrudBasic.tsx
  docs/data/toolpad/core/components/crud/CrudCreate.js
  docs/data/toolpad/core/components/crud/CrudCreate.tsx
  docs/data/toolpad/core/components/crud/CrudEdit.js
  docs/data/toolpad/core/components/crud/CrudEdit.tsx
  docs/data/toolpad/core/components/crud/CrudList.js
  docs/data/toolpad/core/components/crud/CrudList.tsx
  docs/data/toolpad/core/components/crud/CrudListDataGrid.js
  docs/data/toolpad/core/components/crud/CrudListDataGrid.tsx
  docs/data/toolpad/core/components/crud/CrudListDataGrid.tsx.preview
  docs/data/toolpad/core/components/crud/CrudNoCache.js
  docs/data/toolpad/core/components/crud/CrudNoCache.tsx
  docs/data/toolpad/core/components/crud/CrudShow.js
  docs/data/toolpad/core/components/crud/CrudShow.tsx
  docs/pages/toolpad/core/api/crud.json
  packages/toolpad-core/src/Crud/Crud.test.tsx
  playground/nextjs-pages/src/data/orders.ts
  playground/nextjs/src/data/orders.ts
  playground/vite/src/data/orders.ts
Labels: test

#4276 [DashboardLayout] Show nested navigation in mini-drawer
  docs/translations/api-docs/dashboard-layout/dashboard-layout.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.test.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.tsx
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarSubNavigation.tsx
  packages/toolpad-core/src/DashboardLayout/shared.ts
  packages/toolpad-core/src/shared/navigation.tsx
Labels: enhancement, component: layout

#4783 [docs] Fix CRUD usage in docs
  docs/data/toolpad/core/all-components/all-components.md
  docs/data/toolpad/core/components/crud/crud.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/api/create.json
  docs/pages/toolpad/core/api/crud-form.json
  docs/pages/toolpad/core/api/crud-provider.json
  docs/pages/toolpad/core/api/crud.json
  docs/pages/toolpad/core/api/edit.json
  docs/pages/toolpad/core/api/list.json
  docs/pages/toolpad/core/api/show.json
  packages/toolpad-core/src/Crud/Create.tsx
  packages/toolpad-core/src/Crud/Crud.tsx
  packages/toolpad-core/src/Crud/CrudForm.tsx
  packages/toolpad-core/src/Crud/CrudProvider.tsx
  packages/toolpad-core/src/Crud/Edit.tsx
  packages/toolpad-core/src/Crud/List.tsx
  packages/toolpad-core/src/Crud/Show.tsx
Labels: docs

#4713 [CRUD] Add examples
  docs/data/toolpad/core/components/crud/crud.md
  docs/public/static/toolpad/docs/core/crud-dark.png
  docs/public/static/toolpad/docs/core/crud.png
  docs/src/modules/components/examples/coreExamples.ts
  examples/core/crud-nextjs-pages/.eslintrc.json
  examples/core/crud-nextjs-pages/README.md
  examples/core/crud-nextjs-pages/next-env.d.ts
  examples/core/crud-nextjs-pages/next.config.mjs
  examples/core/crud-nextjs-pages/package.json
  examples/core/crud-nextjs-pages/src/data/employees.ts
  examples/core/crud-nextjs-pages/src/pages/_app.tsx
  examples/core/crud-nextjs-pages/src/pages/_document.tsx
  examples/core/crud-nextjs-pages/src/pages/employees/[[...segments]].tsx
  examples/core/crud-nextjs-pages/src/pages/index.tsx
  examples/core/crud-nextjs-pages/tsconfig.json
  examples/core/crud-nextjs/.eslintrc.json
  examples/core/crud-nextjs/.gitignore
  examples/core/crud-nextjs/README.md
  examples/core/crud-nextjs/next-env.d.ts
  examples/core/crud-nextjs/next.config.mjs
  examples/core/crud-nextjs/package.json
  examples/core/crud-nextjs/src/app/(dashboard)/employees/[[...segments]]/page.tsx
  examples/core/crud-nextjs/src/app/(dashboard)/layout.tsx
  examples/core/crud-nextjs/src/app/(dashboard)/page.tsx
  examples/core/crud-nextjs/src/app/layout.tsx
  examples/core/crud-nextjs/src/data/employees.ts
  examples/core/crud-nextjs/tsconfig.json
  examples/core/crud-vite/.gitignore
  examples/core/crud-vite/README.md
  examples/core/crud-vite/index.html
  examples/core/crud-vite/package.json
  examples/core/crud-vite/public/vite.svg
  examples/core/crud-vite/src/App.tsx
  examples/core/crud-vite/src/assets/.gitkeep
  examples/core/crud-vite/src/data/employees.ts
  examples/core/crud-vite/src/layouts/dashboard.tsx
  examples/core/crud-vite/src/main.tsx
  examples/core/crud-vite/src/pages/employees.tsx
  examples/core/crud-vite/src/pages/index.tsx
  examples/core/crud-vite/src/vite-env.d.ts
  examples/core/crud-vite/tsconfig.json
  examples/core/crud-vite/tsconfig.node.json
  examples/core/crud-vite/vite.config.ts
  packages/toolpad-core/src/nextjs/NextAppProvider.tsx
  packages/toolpad-core/src/react-router/ReactRouterAppProvider.tsx
  playground/nextjs-pages/package.json
  playground/nextjs-pages/src/data/orders.ts
  playground/nextjs/package.json
  playground/nextjs/src/data/orders.ts
  pnpm-lock.yaml
Labels: docs

#4763 fix: render divider and header as li in menu
  packages/toolpad-core/src/DashboardLayout/DashboardSidebarSubNavigation.tsx
Labels: scope: toolpad-core

#4756 [core] Remove studio workspaces
  .circleci/config.yml
  .codesandbox/ci.json
  .eslintignore
  .eslintrc.js
  codecov.yml
  docs/config.d.ts
  docs/data/toolpad/studio/components/button/button.md
  docs/data/toolpad/studio/components/data-grid/data-grid.md
  docs/data/toolpad/studio/components/date-picker/date-picker.md
  docs/data/toolpad/studio/components/list/list.md
  docs/data/toolpad/studio/components/text-field/text-field.md
  docs/data/toolpad/studio/concepts/authentication.md
  docs/data/toolpad/studio/concepts/building-ui.md
  docs/data/toolpad/studio/concepts/custom-components.md
  docs/data/toolpad/studio/concepts/custom-functions.md
  docs/data/toolpad/studio/concepts/custom-server.md
  docs/data/toolpad/studio/concepts/data-binding.md
  docs/data/toolpad/studio/concepts/data-providers.md
  docs/data/toolpad/studio/concepts/deployment.md
  docs/data/toolpad/studio/concepts/event-handling.md
  docs/data/toolpad/studio/concepts/file-structure.md
  docs/data/toolpad/studio/concepts/http-requests.md
  docs/data/toolpad/studio/concepts/page-properties.md
  docs/data/toolpad/studio/concepts/queries.md
  docs/data/toolpad/studio/concepts/rbac.md
  docs/data/toolpad/studio/concepts/theming.md
  docs/data/toolpad/studio/getting-started/examples-overview.md
  docs/data/toolpad/studio/getting-started/first-app.md
  docs/data/toolpad/studio/getting-started/installation.md
  docs/data/toolpad/studio/getting-started/overview.md
  docs/data/toolpad/studio/getting-started/roadmap.md
  docs/data/toolpad/studio/getting-started/support.md
  docs/data/toolpad/studio/getting-started/why-toolpad.md
  docs/data/toolpad/studio/how-to-guides/basic-auth.md
  docs/data/toolpad/studio/how-to-guides/connect-to-databases.md
  docs/data/toolpad/studio/how-to-guides/connect-to-googlesheets.md
  docs/data/toolpad/studio/how-to-guides/cube-component.md
  docs/data/toolpad/studio/how-to-guides/customize-datagrid.md
  docs/data/toolpad/studio/how-to-guides/delete-grid-row.md
  docs/data/toolpad/studio/how-to-guides/editor-path.md
  docs/data/toolpad/studio/how-to-guides/embed-pages.md
  docs/data/toolpad/studio/how-to-guides/gcp-deploy.md
  docs/data/toolpad/studio/how-to-guides/map-display.md
  docs/data/toolpad/studio/how-to-guides/railway-deploy.md
  docs/data/toolpad/studio/how-to-guides/render-deploy.md
  docs/next.config.ts
  docs/package.json
  docs/pages/toolpad/index.js
  package.json
  packages/create-toolpad-app/src/index.ts
  packages/toolpad-core/package.json
  packages/toolpad-core/src/DashboardLayout/DashboardLayout.browser.test.tsx
  packages/toolpad-core/vitest.config.base.mts
  packages/toolpad-core/vitest.config.browser.mts
  packages/toolpad-core/vitest.config.mts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: core

#4784 Styling: Align logo smaller than 40 px vertically with title
  packages/toolpad-core/src/DashboardLayout/AppTitle.tsx
Labels: design: ui

#4786 [CRUD] Expose subcomponent slots to top-level CRUD component
  docs/pages/toolpad/core/api/crud.json
  docs/translations/api-docs/crud/crud.json
  packages/toolpad-core/src/Crud/Crud.tsx
  pnpm-lock.yaml
Labels: enhancement, scope: toolpad-core

#4801 fix: Unwarp Dialog promises created by confirm, prompt, and alert to enable closing these dialogs imperatively
  packages/toolpad-core/src/useDialogs/useDialogs.test.tsx
  packages/toolpad-core/src/useDialogs/useDialogs.tsx
Labels: component: dialog

#4793 docs: mention pnpm usage
  CONTRIBUTING.md
Labels: scope: toolpad-core

#4819 [core] Upgrade monorepo
  package.json
  pnpm-lock.yaml
Labels: core, dependencies, bug 🐛, scope: code-infra

#4755 [code-infra] move @toolpad/core to ESM
  docs/data/toolpad/core/components/page-container/PageContent.js
  docs/data/toolpad/core/components/page-container/PageContent.tsx
  docs/next.config.ts
  docs/package.json
  docs/src/components/landing-studio/CardGrid.js
  docs/src/components/landing-studio/UseCases.js
  docs/src/components/landing/BuiltWith.js
  docs/src/components/landing/Examples.js
  docs/src/components/landing/Features.js
  docs/src/components/landing/StudioIntro.js
  docs/src/components/landing/ToolpadDashboardLayout.tsx
  docs/src/components/landing/ToolpadPageContainerDemo.tsx
  package.json
  packages/toolpad-core/package.json
  packages/toolpad-core/src/Crud/CrudForm.tsx
  packages/toolpad-core/src/Crud/Show.tsx
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
  pnpm-lock.yaml
  scripts/build.mjs
  scripts/copyFiles.mjs
  test/package.json
Labels: scope: code-infra
