Repository mui/toolpad, pull requests merged in 2025-05, with the labels that each got.

#4917 feat: pass nonce to color scheme script through app provider
  docs/pages/toolpad/core/api/app-provider.json
  docs/translations/api-docs/app-provider/app-provider.json
  packages/toolpad-core/src/AppProvider/AppProvider.test.tsx
  packages/toolpad-core/src/AppProvider/AppProvider.tsx
  packages/toolpad-core/src/AppProvider/AppThemeProvider.tsx
Labels: enhancement, scope: toolpad-core

#4936 v0.15.0
  CHANGELOG.md
  docs/package.json
  lerna.json
  packages/create-toolpad-app/package.json
  packages/eslint-plugin-material-ui/package.json
  packages/toolpad-core/package.json
  packages/toolpad-utils/package.json
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite/package.json
Labels: release

#4945 Use named imports for locales
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.js
  docs/data/toolpad/core/components/sign-in-page/LocaleSignInPage.tsx
  docs/data/toolpad/core/introduction/base-concepts.md
  packages/toolpad-core/src/AppProvider/LocalizationProvider.tsx
  packages/toolpad-core/src/index.ts
  packages/toolpad-core/src/locales/en.tsx
  packages/toolpad-core/src/locales/index.tsx
Labels: i18n

#4966 [CRUD] Make forms React 18 compatible
  packages/toolpad-core/src/Crud/CrudForm.tsx
Labels: bug 🐛, scope: toolpad-core, component: crud

#4965 Add new `useNavigation` hook
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutCustomPageItems.js
  docs/data/toolpad/core/components/dashboard-layout/DashboardLayoutCustomPageItems.tsx
  docs/data/toolpad/core/components/use-navigation/use-navigation-api.md
  docs/data/toolpad/core/components/use-navigation/use-navigation.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/react-use-navigation/api.js
  docs/pages/toolpad/core/react-use-navigation/index.js
  examples/core/auth-nextjs-themed/app/components/CustomDataGrid.tsx
  packages/toolpad-core/src/index.ts
  packages/toolpad-core/src/useNavigation/index.ts
  packages/toolpad-core/src/useNavigation/useNavigation.test.tsx
  packages/toolpad-core/src/useNavigation/useNavigation.ts
  packages/toolpad-core/vitest.config.base.mts
Labels: new feature, scope: toolpad-core

#4918 [CRUD] Support non-editable items in form pages
  docs/data/toolpad/core/components/crud/CrudNonEditableFields.js
  docs/data/toolpad/core/components/crud/CrudNonEditableFields.tsx
  docs/data/toolpad/core/components/crud/CrudNonEditableFields.tsx.preview
  docs/data/toolpad/core/components/crud/crud.md
  packages/toolpad-core/src/Crud/Crud.test.tsx
  packages/toolpad-core/src/Crud/CrudForm.tsx
  packages/toolpad-core/src/Crud/List.tsx
  playground/nextjs-pages/src/data/orders.ts
  playground/nextjs/src/data/orders.ts
  playground/vite/src/data/orders.ts
Labels: enhancement, scope: toolpad-core, component: crud

#4977 [core] Remove @vitejs/plugin-react as dependency
  packages/toolpad-core/package.json
  pnpm-lock.yaml
Labels: Toolpad

#4971 [AppProvider] Add Tanstack React Router provider
  .eslintignore
  docs/data/toolpad/core/components/app-provider/app-provider.md
  docs/data/toolpad/core/integrations/react-router.md
  docs/data/toolpad/core/integrations/tanstack-router.md
  docs/data/toolpad/core/pages.ts
  docs/pages/toolpad/core/api/app-provider.json
  docs/pages/toolpad/core/integrations/tanstack-router.js
  packages/toolpad-core/package.json
  packages/toolpad-core/src/Crud/List.tsx
  packages/toolpad-core/src/tanstack-router/TanStackRouterAppProvider.test.tsx
  packages/toolpad-core/src/tanstack-router/TanStackRouterAppProvider.tsx
  packages/toolpad-core/src/tanstack-router/index.tsx
  playground/nextjs-pages/package.json
  playground/nextjs/package.json
  playground/vite-react-router/.gitignore
  playground/vite-react-router/README.md
  playground/vite-react-router/index.html
  playground/vite-react-router/package.json
  playground/vite-react-router/public/vite.svg
  playground/vite-react-router/src/App.tsx
  playground/vite-react-router/src/assets/.gitkeep
  playground/vite-react-router/src/data/orders.tsx
  playground/vite-react-router/src/layouts/dashboard.tsx
  playground/vite-react-router/src/main.tsx
  playground/vite-react-router/src/pages/index.tsx
  playground/vite-react-router/src/pages/orders.tsx
  playground/vite-react-router/src/vite-env.d.ts
  playground/vite-react-router/tsconfig.json
  playground/vite-react-router/vite.config.ts
  playground/vite-tanstack-router/.gitignore
  playground/vite-tanstack-router/.vscode/settings.json
  playground/vite-tanstack-router/index.html
  playground/vite-tanstack-router/package.json
  playground/vite-tanstack-router/public/favicon.ico
  playground/vite-tanstack-router/public/logo192.png
  playground/vite-tanstack-router/public/logo512.png
  playground/vite-tanstack-router/public/manifest.json
  playground/vite-tanstack-router/public/robots.txt
  playground/vite-tanstack-router/src/data/orders.tsx
  playground/vite-tanstack-router/src/main.tsx
  playground/vite-tanstack-router/src/routeTree.gen.ts
  playground/vite-tanstack-router/src/routes/__root.tsx
  playground/vite-tanstack-router/src/routes/_layout/index.tsx
  playground/vite-tanstack-router/src/routes/_layout/orders.$.tsx
  playground/vite-tanstack-router/src/routes/_layout/route.tsx
  playground/vite-tanstack-router/tsconfig.json
  playground/vite-tanstack-router/vite.config.js
  pnpm-lock.yaml
  scripts/docs/buildCoreApiDocs/config/getComponentImports.ts
  scripts/docs/buildCoreApiDocs/config/projectSettings.ts
Labels: new feature, scope: toolpad-core
